{% extends 'CECTutoratBundle:Enseignants:base.html.twig' %}


{% block narrow_title %}Edition de {{ enseignant.prenom|capitalize }} {{ enseignant.nom|capitalize }}{% endblock %}

{% block narrow_body %}

{{ parent() }}

<form class="form" method="post" action="{{ path('editer_enseignant', { 'enseignant': enseignant.id }) }}">
    {{ form_widget(form) }}
    <div class="footer-controls">
        <input type="submit" value="Enregistrer les modifications" class="btn btn-primary pull-right" />
        <a href="{{ path('enseignant', { 'enseignant': enseignant.id }) }}" class="btn pull-right">Annuler</a>
    </div>
</form>

{% endblock %}
