<html>
    
    <body>
        <p><strong>Bienvenue sur le site interne de CEC, {{ membre.prenom }} !</strong></p>
        <p>Tu as été ajouté sur le site interne de Centrale Egalité des Chances. Grâce à lui, tu as facilement accès à toutes les informations sur les lycées, les lycées et les groupes de tutorat de l'association. En t'inscrivant à un groupe de tutorat tu pourras consulter le planning de toutes les séances, être prévenu lorsque la prochaine est imminente, télécharger les activités que tu réaliseras avec les lycéens, etc.</p>
        <p>De la même manière, en adhérant à l'un des six secteurs de l'association, tu auras accès aux fonctions spéciales du site interne et ainsi participer pleinement à la vie de CEC !</p>
        <p>Pour te connecter, rien de plus simple : connecte-toi sur <a href="http://{{ base_url }}">{{ base_url }}</a> et entre ton pseudo et ton mot de passe :</p>
        <p style="text-align: center;"><strong>
            {{ membre.username }}<br />
            {{ mot_de_passe }}
        </strong></p>
        <p>N'oublie pas de <strong>modifier le mot de passe</strong> en <a href="http://{{ base_url }}/reglages">cliquant ici</a>. Et si tu as la moindre question, n'hésite pas à les poser aux GDAs !</p>
        <p>En espérant te voir rapidement sur le site interne et aux RdBs,</p>
        
        <p class="pull-right">Toute l'équipe des GDAs de CEC</p>
    </body>
</html>
