<p>
	Salut {{lyceen.prenom}}, <br/><br/>

	Nous avons le plaisir de te dire que ton inscription au projet {{projet.nom}} a été acceptée et que tu y participeras avec nous ! 

	Voici la page du projet si tu as besoin de plus d'informations : <a href="http://{{base_url}}/projets/{{projet.slug}}">{{projet.nom}}</a><br/><br/>

	Félicitations ! <br/><br/>

	A très bientôt en séance, <br/>
	L'équipe CEC
</p>