{% set jours = ['lundi', 'mardi', 'merdredi', 'jeudi', 'vendredi', 'samedi','dimanche']%}
{% set mois = ['janvier', 'février', 'mars', 'avril', 'mai', 'juin', 'juillet', 'août', 'septembre','octobre','novembre','décembre']%}
<p>
	Bonjour,<br/><br/><br/>

	Une nouvelle sortie CEC vient d'être créée : <strong>{{sortie.nom}}</strong> !<br/><br/>

	Elle aura lieu le <strong>{{ cycle(jours, sortie.dateSortie|date('N') - 1) }} {{ sortie.dateSortie|date('j') }}
	{{ cycle(mois, sortie.dateSortie|date('n')) -1 }} {{ sortie.dateSortie|date('Y') }} de {{sortie.heureDebut|date('G\\hi')}} à
	{{sortie.heureFin|date('G\\hi')}}</strong>.<br/><br/>

	Pour avoir plus d'informations sur cette sortie et t'y inscrire, rends-toi sur le <a href="{{ path('connexion') }}">site</a>, dans la section <strong>Sortie à venir</strong>.<br/><br/>

	A très bientôt en séance,<br/><br/>

	<span class="pull-right">L'équipe CEC</span>
</p>

<p> class="muted small"> Pour ne plus recevoir ces mails automatiques de CEC, connectez-vous sur <a href="http://{{base_url}}/connexion"> le site interne </a> et décochez la case "Recevoir les mails automatiques" dans vos réglages.
</p>
