{% set jours = ['lundi', 'mardi', 'merdredi', 'jeudi', 'vendredi', 'samedi','dimanche']%}
{% set mois = ['janvier', 'février', 'mars', 'avril', 'mai', 'juin', 'juillet', 'août', 'septembre','octobre','novembre','décembre']%}
<p>Bonjour,<br/><br/><br/>

Une nouvelle sortie CEC vient d'être créée : <strong>{{sortie.nom}}</strong> !<br/><br/>

Elle aura lieu le {{ cycle(jours, sortie.dateSortie|date('N')) }} {{ sortie.dateSortie|date('j') }} 
{{ cycle(mois, sortie.dateSortie|date('n')) }} {{ sortie.dateSortie|date('Y') }} de {{sortie.heureDebut|date('G\\hi')}} à 
{{sortie.heureFin|date('G\\hi')}}</strong>.<br/><br/>

Pour avoir plus d'informations sur cette sortie et t'y inscrire, rends-toi sur le site  : {{path('sorties_eleve')}}.<br/><br/>

A très bientôt en séance,<br/><br/>

L'équipe CEC
</p>

