{% extends 'CECMainBundle::2-columns.html.twig' %}

{% block stylesheets %}
{{ parent() }}
    {% stylesheets
        '@CECSecteurFundraisingBundle/Resources/public/less/statistiques.less'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block left %}
    {% render 'CECSecteurFundraisingBundle:Statistiques:menu' with { 'request' : app.request } %}
{% endblock %}


{% block right %}
{{ parent() }}

	<h2> Statistiques détaillées de l'année scolaire {{anneeScolaire.afficherAnnees}} </h2>

	<table class="table table-bordered table-large table-striped table-stats">
        <thead>
            <tr><th colspan="5">Tutorat</th></tr>
            <tr> 
            	<td style="width:33%;"> Groupe </td>
            	<td> Tuteurs </td>
            	<td> Lycéens </td>
            	<td> Séances </td>
            	<td> Heures de tutorat </td>
            </tr>

        </thead>
        <tbody>
            {% for ligne in statsDetailTutorat %}
            	{% set groupe = ligne[0] %}
            	<tr >
            		<td style="width:33%;">
            			<strong>
            				<a href="{{path('groupe', {'groupe' : groupe.id } ) }}">
            					{{groupe.description}}
            				</a>
            			</strong>
            		</td>
            		<td >
            			<div class="statsDetail">{{groupe.getTuteursAnnee(anneeScolaire)|length}}</div>
            		</td>
            		<td>
            			<div class="statsDetail">{{groupe.getLyceensAnnee(anneeScolaire)|length}}</div>
            		</td>
            		<td>
            			<div class="statsDetail">{{groupe.getSeancesAnnee(anneeScolaire)|length}}</div>
            		</td>
            		<td>
            			<div class="statsDetail">{{ ligne[1]}}</div>
            		</td>
            	</tr>
            {% else %}
            	<tr>
            		<th colspan="5" class="muted"> Pas de groupe actif cette année </th>
            	</tr>
            {% endfor %}

        </tbody>
    </table>


{% endblock %}