{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}
{% extends 'MopaBootstrapBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    
    {% stylesheets
        '@CECMainBundle/Resources/public/less/bootstrap-override.less'
        '@CECMembreBundle/Resources/public/less/connexion.less'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock %}


{% block body %}

    <div class="container">
        {{ session_flash() }}
        <form method="post" action="{{ path('connexion_verifications') }}" class="form-connexion">
            <h2>Connexion requise</h2>
            
            {% if erreur %}
                <div class="alert alert-error">{{ erreur.message }}</div>
            {% endif %}
			
			<select name="_type" class="input-block-level">
				<option value="eleve">Élève</option>
				<option value="professeur">Professeur</option>
				<option value="tuteur">Tuteur</option>
			</select>
            <input type="text" id="utilisateur" name="_username" value="{{ dernier_utilisateur }}" placeholder="Prénom Nom" class="input-block-level" {% if not erreur %}autofocus{% endif %} />
            <input type="password" id="mot_de_passe" name="_password" placeholder="Mot de passe" class="input-block-level" {% if erreur %}autofocus{% endif %} />
            <div class="footer-controls">
                <a href="{{ path('securite_oubli') }}" class="btn btn-link btn-small">Mot de passe oublié ?</a>
                <button type="submit" class="btn btn-primary btn-large">Se connecter</button>
            </div>
        </form>
    </div>

{% endblock %}
