{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}
{% extends 'CECMainBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    
    {% stylesheets
        '@CECMembreBundle/Resources/public/less/connexion.less'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock %}


{% block container %}
        <div class="row">
            <div class="col-md-3 col-md-offset-3">
                {{ session_flash() }}
                <form method="post" action="{{ path('connexion_verifications') }}" class="form-connexion" style="display:inline-block;">
                    <h2>Connexion</h2>
                    
                    {% if erreur %}
                        <div class="alert alert-error">{{ erreur.message }}</div>
                    {% endif %}
        			<div class="form-group">
                        <input class="form-control" type="text" id="utilisateur" name="_username" value="{{ dernier_utilisateur }}" placeholder="Username" class="input-block-level" {% if not erreur %}autofocus{% endif %} />
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" id="mot_de_passe" name="_password" placeholder="Mot de passe" class="input-block-level" {% if erreur %}autofocus{% endif %} />
                    </div>
                    <div class="checkbox">
                        <label for="remember_me"><input type="checkbox" id="remember_me" name="_remember_me" checked />  Se souvenir de moi</label>
                    </div>
        			<div class="footer-controls">
                        <button type="submit" class="btn btn-block btn-primary">Se connecter</button>
                        <a href="{{ path('securite_oubli') }}" class="btn btn-default btn-block btn-link btn-sm text-center">Mot de passe oublié ?</a>
                    </div>
        		</form>
            </div>
            <div class="col-md-3">
                <form class="form-connexion">
                    <h2> Inscription</h2>

                    <div class="footer-controls">
                        <a href="{{path('inscriptionProfesseur')}}" class="btn btn-primary btn-block" >S'inscrire en tant que professeur</a>
                        <a href="{{path('inscriptionParent')}}" class="btn btn-primary btn-block" >S'inscrire en tant que parent</a>
                        <a href="{{path('inscriptionEleve')}}" class="btn btn-primary btn-block" >S'inscrire en tant que lycéen</a>
                    </div>
                </form>
            </div>
        </div>

{% endblock %}
