{% extends 'CECTutoratBundle:Lyceens:base.html.twig' %}


{% block narrow_title %}{{ lyceen.prenom|capitalize }} {{ lyceen.nom|capitalize }}{% endblock %}

{% block narrow_body %}

{{ parent() }}

<table class="table table-bordered table-hover table-striped">
    <tbody>
        <tr>
            <td>Nom</td>
            <td><strong>{{ lyceen.prenom|capitalize }} {{ lyceen.nom|capitalize }}</strong></td>
        </tr>
        <tr>
            <td>Groupe de tutorat</td>
            <td>{% if lyceen.groupe %}
                {% include 'CECTutoratBundle::groupe.html.twig' with { 'groupe': lyceen.groupe } %}
            {% else %}
                Inscrit à aucun groupe de tutorat
            {% endif %}</td>
        </tr>
    </tbody>
</table>
<table class="table table-bordered table-hover table-striped">
    <tbody>
        {% if lyceen.telephone %}
            <tr>
                <td>Téléphone</td>
                <td>{{ lyceen.telephone }}</a></td>
            </tr>
        {% endif %}
        {% if lyceen.email %}
            <tr>
                <td>Email</td>
                <td>{{ lyceen.email }}</td>
            </tr>
        {% endif %}
        {% if lyceen.adresse %}
            <tr>
                <td>Adresse</td>
                <td>
                    {{ lyceen.adresse }}<br />
                    {{ lyceen.codePostal }} {{ lyceen.ville|capitalize }}
                </td>
            </tr>
        {% endif %}
    </tbody>
</table>
<table class="table table-bordered table-hover table-striped">
    <tbody>
        {% if lyceen.nomPere %}
            <tr>
                <td>Nom du père</td>
                <td>{{ lyceen.nomPere }}</a></td>
            </tr>
        {% endif %}
        {% if lyceen.nomMere %}
            <tr>
                <td>Nom de la mère</td>
                <td>{{ lyceen.nomMere }}</td>
            </tr>
        {% endif %}
        {% if lyceen.telephoneParent %}
            <tr>
                <td>Téléphone des parents</td>
                <td>{{ lyceen.telephoneParent }}</td>
            </tr>
        {% endif %}
    </tbody>
</table>

{% if lyceen.commentaires %}
    <table class="table table-bordered table-hover table-striped">
        <tbody>
            <tr>
                <td>Commentaires</td>
                <td>{{ lyceen.commentaires }}</td>
            </tr>
        </tbody>
    </table>
{% endif %}

<a href="{{ path('tous_lyceens') }}" class="btn">Tous les lycéens</a>
<a href="{{ path('editer_lyceen', { 'lyceen': lyceen.id }) }}" class="btn pull-right">Editer la fiche</a>

{% endblock %}
