{% extends 'CECActiviteBundle:Activites:base.html.twig' %}

{% from 'CECActiviteBundle::compte_rendu.html.twig' import note as note %}
{% from 'CECActiviteBundle::activite.html.twig' import type as type %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@CECActiviteBundle/Resources/public/less/comptes_rendus.less'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script type="text/javascript">
        function chargerApercu(compteRendu) {
            $('.cr').removeClass('info');
            $('#cr_' + compteRendu).addClass('info');
            $('#apercu-cr-contenu').hide();
            $('#apercu-cr-message').html('Chargement...');
            $('#apercu-cr-message-container').show();
            $.get(Routing.generate('cec_activite_compterendus_ajaxapercu', { compte_rendu: compteRendu }), function(data) {
              $('#apercu-cr-contenu').html(data);
              $('#apercu-cr-contenu').show();
              $('#apercu-cr-message-container').hide();
            });
            if ($('#cr_' + compteRendu + ' .td-non-lu').html() == "•") basculerLecture(compteRendu);
        }
        
        // Hack du bootstrap parce que sinon la classe "active" est ajoutée APRÈS l'événement onclick !
        var _old_toggle = $.fn.button.prototype.constructor.Constructor.prototype.toggle;
        $.fn.button.prototype.constructor.Constructor.prototype.toggle = function () {
            _old_toggle.apply(this);
            chargerResultats();
        }
          
        function chargerResultats() {
            var lecture = ($('#lecture-tous').hasClass('active')) ? 'tous' : 'non-lus';
            var type = $('#lecture-type :selected').val();
            $('#apercu-cr-contenu').hide();
            $('#apercu-cr-message').html('Sélectionnez un compte-rendu');
            $('#apercu-cr-message-container').show();
            $.get(Routing.generate('cec_activite_compterendus_ajaxresultats', { lecture: lecture, type: type }), function(data) {
              $('#resultats-contenu').html(data);
            });
        }
        
        $(document).ready(function () {
            chargerResultats();
        });
        
        function basculerLecture(compteRendu) {
            var etaitLu = $('#cr_' + compteRendu + ' .td-non-lu').html() == "";
            $.get(Routing.generate('cec_activite_compterendus_ajaxbasculerlecture', { compte_rendu: compteRendu }));
            if (etaitLu) {
                $('#cr_' + compteRendu + ' .td-non-lu').html('•');
            } else {
                $('#cr_' + compteRendu + ' .td-non-lu').html('');
            }
        }
    </script>
{% endblock %}


{% block left %}

    <table class="table table-bordered table-hover table-results">
        <thead>
            <tr><th class="titre" colspan="2">
                <h3>
                   Consultation de<br />
                   comptes-rendus
                </h3>
            </th></tr>
            <tr>
                <th colspan="2">
                    <div class="btn-group" data-toggle="buttons-radio">
                        <button class="btn btn-mini" id="lecture-tous">Tous</button>
                        <button class="btn btn-mini active" id="lecture-non-lus">Non-lus</button>
                    </div>
                    <select class="btn-mini pull-right" id="lecture-type" onchange="chargerResultats()">
                        <option value="tous">Tous les types</option>
                        <option value="actiscientifiques">Activités Scientifiques</option>
                        <option value="actisculturelles">Activités Culturelles</option>
                        <option value="experiences">Expériences Scientifiques</option>
                        <option value="autre">Autres</option>
                    </select>
                </th>
            </tr>
        </thead>
        <tbody id="resultats-contenu"></tbody>
    </table>
    
{% endblock %}

{% block right %}
{{ parent() }}
    
    <table class="table table-bordered table-striped table-large" id="apercu-cr-message-container">
        <tbody>
            <tr style="height: 500px;">
                <td class="muted">
                    <h4 id="apercu-cr-message">Sélectionnez un compte-rendu</h4>
                </td>
            </tr>
        </tbody>
    </table>
    
    <table class="table table-bordered table-striped table-large" id="apercu-cr-contenu" style="display: none;"></table>
    
{% endblock %}
