{% extends 'CECMainBundle::narrow.html.twig' %}


{% block narrow_title %}Modifier la sortie {{sortie.nom}}{% endblock %}

{% block narrow_body %}

{{ parent() }}

{% if sortie.okCR %}
<form class="form" method="post" action="{{ path('editer_sortie', {'action':'editeraveccr', 'id':sortie.id}) }}">
    {{ form_widget(form) }}
    <div class="footer-controls">
        <input type="submit" value="Modifier la sortie" class="btn btn-primary pull-right" />
        <a href="{{ path('anciennes_sorties') }}" class="btn pull-right">Annuler</a>
    </div>
</form>
{% else %}
<form class="form" method="post" action="{{ path('editer_sortie', {'action':'editer', 'id':sortie.id}) }}">
    {{ form_widget(form) }}
    <div class="footer-controls">
        <input type="submit" value="Modifier la sortie" class="btn btn-primary pull-right" />
        <a href="{{ path('sorties') }}" class="btn pull-right">Annuler</a>
    </div>
</form>
{% endif %}

{% endblock %}
