{% extends 'CECSecteurSortiesBundle:Sorties:base.html.twig' %}

{% block right %}

<h1>Liste des sorties à venir</h1>

<table class="table table-bordered table-striped table-large">
    <tbody>
        {% for sortie in sorties %}
        <tr>
            <td>
                {% if is_granted('ROLE_SECTEUR_SORTIES') or is_granted('ROLE_BURO') %}
                    <a class="btn btn-danger pull-right" href="{{ path('supprimer_sortie', {'id':sortie.id}) }}">Supprimer</a>
                    <a class="btn pull-right" style="margin-right: 5px;" href="{{ path('editer_sortie', {'id':sortie.id, 'action':'editer'}) }}">Modifier</a>
                {% endif %}
                <p><strong>{{sortie.nom}}</strong> le <strong>{{ cycle(jours, sortie.dateSortie|date('N')) }} {{ sortie.dateSortie|date('j') }} {{ cycle(mois, sortie.dateSortie|date('n')) }} {{ sortie.dateSortie|date('Y') }}</strong> de <strong>{{sortie.heureDebut|date('G\\hi')}} à {{sortie.heureFin|date('G\\hi')}}</strong>.</p>
                <p>{{sortie.description}}</p>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
