{% extends 'CECSecteurSortiesBundle:Sorties:base.html.twig' %}

{% block right %}

<h1>Liste des sorties passées</h1>

<table class="table table-bordered table-striped table-large">
    <tbody>
        {% for sortie in sorties %}
        <tr>
            <td>
                {% if is_granted('ROLE_SECTEUR_SORTIES') %}
                    <a class="btn btn-danger pull-right" href="{{ path('supprimer_sortie', {'id':sortie.id}) }}">Supprimer</a>
                    {% if sortie.okCR %}
                        <a class="btn pull-right" style="margin-right: 5px;" href="{{ path('editer_sortie', {'action':'editeraveccr', 'id':sortie.id}) }}">Modifier</a>
                    {% else %}
                        <a class="btn pull-right" style="margin-right: 5px;" href="{{ path('editer_sortie', {'action':'editer', 'id':sortie.id}) }}">Modifier</a>
                    {% endif %}
                {% endif %}
                <p><strong>{{sortie.nom}}</strong> le <strong>{{ cycle(jours, sortie.dateSortie|date('N')) }} {{ sortie.dateSortie|date('j') }} {{ cycle(mois, sortie.dateSortie|date('n')) }} {{ sortie.dateSortie|date('Y') }}</strong> de <strong>{{sortie.heureDebut|date('G\\hi')}} à {{sortie.heureFin|date('G\\hi')}}</strong>.</p>
                <p>Adresse : {{sortie.adresse}}</p>
                <p style="text-align:justify;">{{sortie.description}}</p>
                {% if is_granted('ROLE_SECTEUR_SORTIES') %}
                    {% if sortie.okCR %}
                        <ul>
                            <li>{{sortie.nbLyceens}} lycéens présents</li>
                            <li>{{sortie.nbTuteurs}} tuteurs accompagnateurs</li>
                            <li style="text-align:justify;">{{sortie.commentaire}}</li>
                            <li>Total payé : {{sortie.prix}} €</li>
                        </ul>
                    {% else %}
                        <a class="btn btn-success" href="{{path("editer_sortie", {'action':'cr', 'id':sortie.id})}}">Remplir le CR</a>
                    {% endif %}
                {% endif %}
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
									Lycéens ayant participé à la sortie({{lyceens|length}})
								</a>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
						{% render "CECSecteurSortiesBundle:Sorties:lyceens" with {'sortie' : sortie} %}
						</div>
					</div>
				</div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
