{% extends 'CECSecteurSortiesBundle:Sorties:base.html.twig' %}

{% block right %}

<h1>Liste des sorties passées</h1>

<ul>
    {% for sortie in sorties %}
    <li>
        <p>Sortie : <strong>{{sortie.nom}}</strong> le {{sortie.dateSortie|date("d/m/Y")}} de {{sortie.heureDebut|date("H:i")}} à {{sortie.heureFin|date("H:i")}}.</p>
        <p>Description : {{sortie.description}}</p>
    </li>
    {% endfor %}
</ul>

{% endblock %}
