/*
 * Vue d'un lycée, utilisée dans une liste.
 * Note: Il faut inclure les fichiers du Bootstrap Twitter.
 *
 * @param Lycee $lycee: le lycée à afficher
 */

<h4>{{ lycee.nom }} ({{ lycee.ville }})</h4>
<em>{{ lycee.adresse }} - {{ lycee.codePostal}} {{ lycee.ville }}</em><br />
