{#
    Vue d'un lycée, utilisée dans une liste.
    Note: Il faut inclure les fichiers du Bootstrap Twitter.

    @param Lycee $lycee: le lycée à afficher
#}

<h5>{{ lycee.nom }} ({{ lycee.ville }})</h5>
<p>{{ lycee.adresse }} - {{ lycee.codePostal}} {{ lycee.ville}}</p>
