{% extends 'CECSecteurSortiesBundle:SortiesEleve:base.html.twig' %}

{% block right %}

<h1>Liste des sorties passées</h1>

<table class="table table-bordered table-striped table-large">
    <tbody>
        {% for sortie in sorties %}
        <tr>
            <td>
                <p><strong>{{sortie.nom}}</strong> le <strong>{{ cycle(jours, sortie.dateSortie|date('N')) }} {{ sortie.dateSortie|date('j') }} {{ cycle(mois, sortie.dateSortie|date('n')) }} {{ sortie.dateSortie|date('Y') }}</strong> de <strong>{{sortie.heureDebut|date('G\\hi')}} à {{sortie.heureFin|date('G\\hi')}}</strong>.</p>
                <p>Adresse : {{sortie.adresse}}</p>
                <p style="text-align:justify;">{{sortie.description}}</p>
				{% if app.user in sortie.lyceens %}
					<p style="text-align:right;"> Tu y as participé</p>
				{% else %}
					<p style="text-align:right;"> Tu n'y as pas participé</p>
				{% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
