{% extends 'CECSecteurSortiesBundle:SortiesEleve:base.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{% block right %}
      {% for message in app.session.flashbag.get('notice') %}
	<div class="alert alert-success">
        {{ message }}
	</div>
	      {% endfor %}

<h1>Liste des sorties à venir</h1>

<table class="table table-bordered table-striped table-large">
    <tbody>
        {% for sortie in sorties %}
        <tr>
            <td id="{{sortie.id}}">
            	<span class="label pull-right"> 
            		{% if sortie.places > 0 %}
            			{% if sortie.places - sortie.lyceens|length > 0 %}
            				{{ sortie.places - sortie.lyceens|length}} places restantes
            			{% else %}
            				Liste d'attente
            			{% endif %}
            		{% else %}
            			Sortie ouverte à tous
            		{% endif %}
            	</span>
                <p><strong>{{sortie.nom}}</strong> le <strong>{{ cycle(jours, sortie.dateSortie|date('N')) }} {{ sortie.dateSortie|date('j') }} {{ cycle(mois, sortie.dateSortie|date('n')) }} {{ sortie.dateSortie|date('Y') }}</strong> de <strong>{{sortie.heureDebut|date('G\\hi')}} à {{sortie.heureFin|date('G\\hi')}}</strong>.</p>
                <p>Adresse : {{sortie.adresse}}</p>
                <p style="text-align:justify;" >{{sortie.description}}</p>

					<form method="post" action="{{ path('sorties_eleve') }}" class="form-connexion">
				
						<input type="hidden" id="id" name="id" value="{{ sortie.id }}"  />
						<div class="footer-controls">
                {# On récupère la liste des lycéens présents à la sortie a partir de sortie.lyceens qui contient des 
                instance de SortieEleve #}
                {% set lyceens = [] %}
                {% for sortieEleve in sortie.lyceens %}
                    {% set lyceens = lyceens|merge([sortieEleve.lyceen]) %}
                {% endfor %}
				{% if app.user in lyceens %}
							<button type="submit" class="btn btn-danger btn-mini pull-right">Se désinscrire</button>
				{% else %}
							<button type="submit" class="btn btn-success btn-mini pull-right {% if sortie.places > 0 and sortie.lyceens|length == (sortie.places + 10) %}disabled{% endif %}">S'inscrire {% if sortie.lyceens|length >= sortie.places and sortie.places > 0 %} sur liste d'attente {% endif %}</button>
				{% endif %}
						</div>
					</form>
				
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
