{% extends 'CECMembreBundle:ReglagesEleve:base.html.twig' %}

{% block right %}
    {{ parent() }}
    <form method="post" action="{{ path(app.request.attributes.get('_route')) }}">
        <div class="section">
            <div class="section-title text-center"><h2>Informations relatives à la situation familiale</h2></div>
            {{ form_row(form.professionPere) }}
            {{ form_row(form.professionMere) }}
            {{ form_row(form.telephoneParent) }}
            {{ form_row(form.mailParent) }}
            {{ form_row(form.statutParents) }}
            {{ form_row(form.nombrePersonnesACharge) }}
            {{ form_row(form.nombreEnfants) }}
            {{ form_row(form.enfants) }}
            <span id="helpBlock" class="help-block">Ex : Matthieu, 15 ans, 3ème au collège Léonard de Vinci </span>
            {{ form_row(form.bourses) }}
            <span id="helpBlock" class="help-block">Laisse ce champ vide si tu ne bénéficies pas de bourse.</span>
        </div>

        <br/>
        <div class="section">
            <div class="section-title text-center"><h2>Questionnaire personnel</h2></div>
            <p class="lead">Inscription</p>
            {{ form_row(form.nombreAnneeChezCec) }}
            <p><b>Qu'est ce qui t'as poussé à t'inscrire à CEC ?</b></p>
            {{ form_row(form.raisonInscriptionCecParticipeAuProgramme) }}
            {{ form_row(form.raisonInscriptionCecEncourageParProche) }}
            {{ form_row(form.raisonInscriptionCecCuriosite) }}
            {{ form_row(form.raisonInscriptionCecProgrammeEducatif) }}
            {{ form_row(form.raisonInscriptionCecSortiesProjets) }}
            {{ form_row(form.raisonInscriptionCecLycee) }}
            {{ form_row(form.procheQuiAEncouragePourCec) }}
            {{ form_row(form.opinionPresentationCec) }}

            <p class = "lead">Études et orientation</p>
            {{ form_row(form.participationForumOrientation) }}
            {{ form_row(form.connaissanceFiliereApresBac) }}
            <p><b>As-tu une idée de ton orientation après le bac ? de tes études ?</b> (Plusieurs idées, même vagues ou farfelues)</p>
            {{ form_row(form.ideeOrientationPostBac) }}
            <p><b>As-tu une idée de ton orientation après le bac ? de tes études ?</b> (Plusieurs idées, même vagues ou farfelues)</p>
            {{ form_row(form.ideeOrientationPostBac) }}
            <p><b>As-tu une idée du métier dans lequel tu voudrais travailler ? du secteur ?</b> (ce sont tes choix, ne te retiens pas !)
            {{ form_row(form.ideeMetier) }}



            <p class = "lead">Jugements, connaissances et activités</p>
            <p><b>Personnellement, comment te juges-tu ?</b></p>
            <p>Te sens-tu à l'aise à l'oral ?</p>
            {{ form_widget(form.aisanceOral) }}
            <span id="helpBlock" class="help-block">0 : mal à l'aise, 5 : à l'aise</span>

            <p style="margin-top: 10px">Te sens-tu à l'aise dans le système scolaire ?</p>
            {{ form_widget(form.aisanceSystemeScolaire) }}
            <span id="helpBlock" class="help-block"> 0 : mal à l'aise, 5 : à l'aise</span>

            <p style="margin-top: 10px">Te sens-tu confiant(e) sur ta capacié à obtenir les études que tu souhaites ?</p>
            {{ form_widget(form.capaciteObtentionEtudesSouhaitees) }}
            <span id="helpBlock" class="help-block">0 : peu confiant(e), 5 : confiant(e)</span>

            <p style="margin-top: 10px">Te sens-tu encouragé(e) par ton entourage à faire des études supérieures ?</p>
            {{ form_widget(form.encouragementParEntourageEtudeSup) }}
            <span id="helpBlock" class="help-block">0 : peu encouragé(e), 5 : très encouragé(e)</span>

            <p style="margin-top: 10px">Te sens-tu poussé(e) par ton entourage vers l'actualité ?</p>
            {{ form_widget(form.attachementActualites) }}
            <span id="helpBlock" class="help-block">0 : pas vraiment, 5 : très poussé(e)</span>

            <p style="margin-top: 10px">Te sens-tu poussé(e) par ton entourage vers les sciences ?</p>
            {{ form_widget(form.interetScience) }}
            <span id="helpBlock" class="help-block">pas vraiment, 5 : très poussé(e)</span>

            <p style="margin-top: 10px">Te sens-tu poussé(e) par ton entourage vers la culture ?</p>
            {{ form_widget(form.interetCulture) }}
            <span id="helpBlock" class="help-block">pas vraiment, 5 : très poussé(e)</span>

            <p style="margin-top: 10px">Penses tu t'intégrer facilement dans un groupe ?</p>
            {{ form_widget(form.integrationGroupe) }}
            <span id="helpBlock" class="help-block">0 : difficilement 5 : facilement</span>
            <br/>
            {{ form_row(form.activitesExtrascolaires) }}

            <p><b>Quelle est ta pratique des activités suivantes ?</b></p>
            <p>Aller au musée :</p>
            {{ form_widget(form.pratiqueMusee) }}
            <p style="margin-top: 10px">Aller au théâtre :</p>
            {{ form_widget(form.pratiqueTheatre) }}
            <p style="margin-top: 10px">Aller au cinéma :</p>
            {{ form_widget(form.pratiqueCinema) }}
            <p style="margin-top: 10px">Regarder le journal télévisé :</p>
            {{ form_widget(form.pratiqueJournalTelevise) }}
            <p style="margin-top: 10px">Lire les journaux :</p>
            {{ form_widget(form.pratiqueJournaux) }}
            <p style="margin-top: 10px">Lire :</p>
            {{ form_widget(form.pratiqueLecture) }}
            <br/>
            {{ form_row(form.coursParticulier) }}

            <p class = "lead">Langues, voyages et échanges</p>
            {{ form_label(form.langueVivante) }}
            {{ form_widget(form.langueVivante) }}
            <span id="helpBlock" class="help-block"> LV1, LV2, éventuellement LV3</span>
            {{ form_label(form.correspondantEtranger) }}
            {{ form_widget(form.correspondantEtranger) }}
            <span id="helpBlock" class="help-block">Si oui, de quelle nationalité, à quel âge et pendant combien de temps ?</span>
            {{ form_row(form.voyagesRealises) }}
            {{ form_rest(form) }}
        </div>
        <div class="form-actions">
            <input type="submit" value="Enregistrer" class="btn btn-primary" />
        </div>
    </form>
{% endblock %}
