{% extends 'CECSecteurProjetsBundle::base.html.twig' %}

{% block right %}

{{parent()}}

<h2>Mise à jour du dossier d'inscription</h2>
<form class="form form-horizontal" method="post" action="{{ path('dossier_inscription') }}" {{form_enctype(form)}}><br/>
	{{form_errors(form)}}
	<div class="form-group">
		{{form_label(form.projet)}}
		<div class="col-md-4">
			{{form_widget(form.projet)}}
		</div>
    </div>
    <div class="form-group">
    	{{form_label(form.dossier)}}
    	{{form_widget(form.dossier)}}
    </div>
    <div class="footer-controls">
    	<br/>
        <input type="submit" value="Mettre à jour le dossier d'inscription" class="btn btn-primary" />
        <a href="{{ path('description_projets') }}" class="btn btn-default pull-right">Annuler</a>
    </div>
{{form_end(form)}}


{% endblock %}
