{% extends 'CECSecteurProjetsBundle::base.html.twig' %}



{% block right %}

{{parent()}}

<h1>Pôle Projets de CEC</h1>

<p> 
Le pôle projets regroupe les voyages et les stages que CEC te propose. Nous organisons cinq projets par an, facultatifs bien entendu.
<br>
A chaque fois que tu souhaites participer, il faut t’inscrire au projet sur le site puis tu pourras télécharger un dossier d’inscription que tu devras renvoyer au plus vite à l’adresse et/ou l’adresse-mail indiqué !
<br>
Pour participer à un projet, il est essentiel d’être assidu en tutorat et de rendre son dossier à temps.
Il y a une courte description des projets en-dessous de chaque projet, n’hésite pas à aller les voir et à réserver la date !
</p>

<table class="table table-bordered table-striped table-large">
    <tbody>
	{% for projet in projets%}
        <tr>
            <td>
                <a href="{{path('description_projet', {'slug': projet.slug})}}"><strong>{{projet.nom}}</strong></a><br/>
				<p style="padding-left:15px;">{{projet.descriptionCourte}}</p>
            </td>
			<td>
				{% if projet.inscriptionsOuvertes%}
					<div class="alert alert-success center-block" role="alert">
						<p><span class="glyphicon glyphicon-ok-circle"></span> Inscriptions ouvertes</p>
					</div>
				{% else %}
					<div class="alert alert-danger center-block" role="alert">
						<p><span class="glyphicon glyphicon-ban-circle"></span> Inscriptions fermées</p>
					</div>
				{% endif %}
			</td>
			<td>
				{% if projet.reunions %}
					{% set reunions_a_venir = 0 %}
					{% for reunion in projet.reunions %}
						{% if date(reunion.date) > date() %}
							{% set reunions_a_venir = reunions_a_venir + 1 %}
						{% endif %}
					{% endfor %}
				{% endif %}
				{% if reunions_a_venir > 0 %}
					<a href="{{path('liste_reunions')}}"> {{reunions_a_venir}} réunion{% if reunions_a_venir > 1 %}s{% endif %} à venir </a>
				{% else %}
					<span class="muted"> Pas de réunion à venir</span>
				{% endif %}
			</td>
        </tr>
	{% endfor %}
    </tbody>
</table>

{% endblock %}
