<table class="table table-bordered table-striped table-condensed">
    <thead>
        <tr><th colspan="2" class="titre"><h3>{{ lycee.nom }}</h3></th></tr>
        <tr><th colspan="2" class="image">
            {% image '@CECTutoratBundle/Resources/public/img/lycee.jpg' %}
                <img src="{{ asset_url }}" alt="Image du lycée"/>
            {% endimage %}
        </th></tr>
    </thead>
    <tbody>
        <tr>
            <td class="legend">Ville</td>
            <td>{{ lycee.ville }}</td>
        </tr>
        <tr>
            <td class="legend">Adresse</td>
            <td>
                {{ lycee.adresse }}<br />
                {{ lycee.codePostal }} {{ lycee.ville }}
            </td>
        </tr>
        <tr>
            <td class="legend">Secrétariat</td>
            <td>{{ lycee.telephone }}</td>
        </tr>
        <tr>
            <td class="legend">Statut</td>
            <td>{{ lycee.statut }}</td>
        </tr>
        {% if lycee.ZEP %}
        <tr>
            <td colspan="2"><strong>Établissement classé ZEP</strong></td>
        </tr>
        {% endif %}
        
        <tr><th colspan="2" class="section"><h4>{{ lycee.pivot ? 'Lycée Pivot' : 'Lycée Source' }}</h4></th></tr>
        <tr>
            <td class="legend">Cordée</td>
            <td>Ajouter le nom et le lien de la cordée</td>
        </tr>
        <tr>
            <td class="legend">Depuis</td>
            <td>Ajouter date de début de partenariat</td>
        </tr>
        <tr>
            <td class="legend">VP Lycée</td>
            <td>Ajouter le nom et le lien vers le VP Lycée</td>
        </tr>
        
        <tr><th colspan="2" class="section"><h4>Administration</h4></th></tr>
        <tr>
            <td class="legend">Proviseur</td>
            <td>Ajouter le nom et le lien de la cordée</td>
        </tr>
        <tr>
            <td class="legend">Référent</td>
            <td>Ajouter date de début de partenariat</td>
        </tr>
        
        <tr><th colspan="2" class="section"><h4>Tutorat</h4></th></tr>
        <tr>
            <td class="legend">Type</td>
            <td>Ajouter le nom et le lien de la cordée</td>
        </tr>
        <tr>
            <td class="legend">Niveaux</td>
            <td>Ajouter date de début de partenariat</td>
        </tr>
        <tr>
            <td class="legend">Lycéens</td>
            <td>Ajouter le nom et le lien de la cordée</td>
        </tr>
        <tr>
            <td class="legend">Tuteurs</td>
            <td>Ajouter date de début de partenariat</td>
        </tr>
        
    </tbody>
</table>
