<table class="table table-bordered table-striped table-hover table-condensed table-collapse">
    <thead>
        <tr><th colspan="2" class="titre"><h3>{{ lycee.nom }}</h3></th></tr>
        <tr><th colspan="2" class="image">
            {% image '@CECTutoratBundle/Resources/public/img/lycee.jpg' %}
                <img src="{{ asset_url }}" alt="Image du lycée"/>
            {% endimage %}
        </th></tr>
    </thead>
    <tbody>
        <tr>
            <td>Ville</td>
            <td>{{ lycee.ville }}</td>
        </tr>
        <tr>
            <td>Adresse</td>
            <td>
                {{ lycee.adresse }}<br />
                {{ lycee.codePostal }} {{ lycee.ville }}
            </td>
        </tr>
        <tr>
            <td>Secrétariat</td>
            <td>{{ lycee.telephone }}</td>
        </tr>
        <tr>
            <td>Statut</td>
            <td>{{ lycee.statut }}</td>
        </tr>
        {% if lycee.ZEP %}
        <tr>
            <td>Remarques</td>
            <td>Cet établissement est classé ZEP</td>
        </tr>
        {% endif %}
    </tbody>
</table>

<table class="table table-bordered table-striped table-hover table-condensed table-collapse">
    <tbody>
        <tr>
            <td>Cordée</td>
            <td>Ajouter le nom et le lien de la cordée</td>
        </tr>
        <tr>
            <td>Rôle</td>
            <td>{{ lycee.pivot ? 'Lycée Pivot' : 'Lycée Source' }}</td>
        </tr>
        <tr>
            <td>VP Lycée</td>
            <td>Ajouter le nom et le lien vers le VP Lycée</td>
        </tr>
    </thead>
</table>
        
<table class="table table-bordered table-striped table-hover table-condensed table-collapse">
    <tbody>
        <tr>
            <td>Proviseur</td>
            <td>Ajouter le nom et le lien de la cordée</td>
        </tr>
        <tr>
            <td>Référent</td>
            <td>Ajouter date de début de partenariat</td>
        </tr>
    </tbody>
</table>

<table class="table table-bordered table-striped table-hover table-condensed table-collapse">
    <tbody>
        <tr>
            <td>Type</td>
            <td>Ajouter le nom et le lien de la cordée</td>
        </tr>
        <tr>
            <td>Niveaux</td>
            <td>Ajouter date de début de partenariat</td>
        </tr>
        <tr>
            <td>Lycéens</td>
            <td>Ajouter le nom et le lien de la cordée</td>
        </tr>
        <tr>
            <td>Tuteurs</td>
            <td>Ajouter date de début de partenariat</td>
        </tr>
    </tbody>
</table>
