<table class="table table-bordered table-striped table-hover table-collapse">
    <thead>
        <tr><th colspan="2" class="titre"><h3>{{ lycee.nom }}</h3></th></tr>
        <tr><th colspan="2" class="image">
            {% image '@CECTutoratBundle/Resources/public/img/lycee.jpg' %}
                <img src="{{ asset_url }}" alt="Image du lycée"/>
            {% endimage %}
        </th></tr>
    </thead>
    <tbody>
        <tr>
            <td>Ville</td>
            <td>{{ lycee.ville }}</td>
        </tr>
        <tr>
            <td>Adresse</td>
            <td>
                {{ lycee.adresse }}<br />
                {{ lycee.codePostal }} {{ lycee.ville }}
            </td>
        </tr>
        {% if lycee.telephone %}
        <tr>
            <td>Secrétariat</td>
            <td>{{ lycee.telephone }}</td>
        </tr>
        {% endif %}
        <tr>
            <td>Statut</td>
            <td>{{ lycee.statut }}</td>
        </tr>
        {% if lycee.ZEP %}
        <tr>
            <td>Remarques</td>
            <td>Cet établissement est classé ZEP</td>
        </tr>
        {% endif %}
    </tbody>
</table>

<table class="table table-bordered table-striped table-hover table-collapse">
    <tbody>
        <tr>
            <td>Cordée</td>
            <td>
                {% if lycee.cordee %}
                    <a href="{{ path('cordee', { 'cordee' : lycee.cordee.id }) }}">{{ lycee.cordee.nom }}</a>
                {% else %}
                    <a href="{{ path('anciennes_cordees') }}" class="muted">Aucune cordée</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Rôle</td>
            <td>{{ lycee.pivot ? 'Lycée Pivot' : 'Lycée Source' }}</td>
        </tr>
        {% for prof in lycee.professeurs %}
            {% if 'ROLE_PROVISEUR' in prof.roles %}
            <tr>
                <td> {{prof.role}} </td>
                <td> {{prof.prenom}} {{prof.nom}}</td>
            </tr>
            {% endif %}
        {% endfor %}
        <tr>
            <td> Référents </td>
            <td>
                {% for prof in lycee.referents %}
                    <a href="
                            {% if ((is_granted('ROLE_PROFESSEUR_REFERENT') or is_granted('ROLE_PROVISEUR')) and app.user in lycee.professeurs)
                               or is_granted('ROLE_TUTEUR')
                               or (is_granted('ROLE_ELEVE_DELEGUE') and lycee in app.user.groupe.lycees) %}
                                
                                    {{ path('voir_professeur', { 'id': prof.id }) }}
                            {% else %}
                                    #
                            {% endif %}
                            ">
                            {{prof.prenom}} {{prof.nom}}{% if not loop.last%}, {% endif %}
                    </a>
                {% else %}
                 <p class="muted"> Aucun professeur référent désigné </p>
                {% endfor %}
            </td>
        <tr>
            <td>VP Lycée</td>
            <td>
                {% for vp in lycee.vpLycees %}
                    <a href="
                            {% if ((is_granted('ROLE_PROFESSEUR_REFERENT') or is_granted('ROLE_PROVISEUR')) and app.user in lycee.professeurs)
                               or is_granted('ROLE_TUTEUR')
                               or (is_granted('ROLE_ELEVE_DELEGUE') and lycee in app.user.groupe.lycees) %}
                                
                                    {{ path('voir_membre', { 'membre': vp.id }) }}
                            {% else %}
                                    #
                            {% endif %}
                            ">
                        {{ vp.prenom|ucwords }} {{ vp.nom|ucwords }}{% if not loop.last %}, {% endif %}
                    </a>
                {% else %}
                    <span class="muted">Aucun VP Lycée</span>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>Elèves délégués</td>
            <td>
                    {% set nbDelegue = 0 %}
                    {% for eleve in lycee.delegues %}
                        {# lycee.delegues contient tous les lycéens ayant été délégués du lycée. On filtre sur ceux qui le sont actuellement#}
                        {% if eleve in lyceens %}
                            <a href="
                                    {% if ((is_granted('ROLE_PROFESSEUR_REFERENT') or is_granted('ROLE_PROVISEUR')) and app.user in lycee.professeurs)
                                       or is_granted('ROLE_TUTEUR')
                                       or (is_granted('ROLE_ELEVE_DELEGUE') and lycee in app.user.groupe.lycees) %}
                                        
                                            {{path('voir_eleve', {'id':eleve.id})}}
                                    {% else %}
                                            #
                                    {% endif %}
                                    ">
                                {{eleve.prenom|ucwords}} {{eleve.nom|ucwords}}{% if not loop.last %}, {% endif %}
                            </a>
                            {% set nbDelegue = nbDelegue + 1 %}
                        {% endif %}
                    {% endfor %}
                    {% if nbDelegue == 0 %}
                        <span class="muted">Aucun élève délégué</span>
                    {% endif %}
            </td>
        </tr>
    </tbody>
</table>

<table class="table table-bordered table-striped table-hover table-collapse">
    <tbody>
        <tr>
            <td>Type</td>
            <td>{{ types ? types|join(', ') : 'Aucun groupe de tutorat' }}</td>
        </tr>
        <tr>
            <td>Niveaux</td>
            <td>{{ niveaux ? niveaux|join(', ') : 'Aucun groupe de tutorat' }}</td>
        </tr>
        <tr>
            <td>Lycéens</td>
            <td>{{ lyceens ? lyceens|length : 'Aucun' }} lycéen{{ lyceens|length > 1 ? 's' }} actuellement</td>
        </tr>
        <tr>
            <td>Tuteurs</td>
            <td>{{ tuteurs ? tuteurs|length : 'Aucun' }} tuteur{{ tuteurs|length > 1 ? 's' }} actuellement</td>
        </tr>
    </tbody>
</table>

{% if is_granted('ROLE_TUTEUR') %}
    {% if lycee in app.user.lyceespourVP or is_granted('ROLE_BURO') %}
    <a href="{{ path('absences_lycee', { 'lycee' : lycee.id }) }}" class="btn btn-default btn-block"> Relevé de présences du lycée</a>
    <a href="{{ path('participation_sorties_lycee', { 'lycee' : lycee.id }) }}" class="btn btn-default btn-block"> Participation aux sorties du lycée</a>
    <a href="{{ path('participation_projets_lycee', { 'lycee' : lycee.id }) }}" class="btn btn-default btn-block"> Participation aux projets du lycée</a>
    <a href="{{ path('editer_lycee', { 'lycee': lycee.id }) }}" class="btn btn-default btn-block">Éditer le lycée</a>
    {% endif %}
{% elseif is_granted('ROLE_PROFESSEUR') %}
    {% if lycee in app.user.lycee and (is_granted('ROLE_PROFESSEUR_REFERENT') or is_granted('ROLE_PROVISEUR')) %}
    <a href="{{ path('absences_lycee', { 'lycee' : lycee.id }) }}" class="btn btn-block"> Relevé de présences du lycée</a>
    <a href="{{ path('participation_sorties_lycee', { 'lycee' : lycee.id }) }}" class="btn btn-block"> Participation aux sorties du lycée</a>
    <a href="{{ path('participation_projets_lycee', { 'lycee' : lycee.id }) }}" class="btn btn-block"> Participation aux projets du lycée</a>
    <a href="{{ path('editer_lycee', { 'lycee': lycee.id }) }}" class="btn btn-block">Éditer le lycée</a>
    {% endif %}
{% endif %}