<table class="table table-bordered table-striped table-hover table-collapse">
    <thead>
        <tr><th colspan="2" class="titre"><h3>{{ lycee.nom }}</h3></th></tr>
        <tr><th colspan="2" class="image">
            {% image '@CECTutoratBundle/Resources/public/img/lycee.jpg' %}
                <img src="{{ asset_url }}" alt="Image du lycée"/>
            {% endimage %}
        </th></tr>
    </thead>
    <tbody>
        <tr>
            <td>Ville</td>
            <td>{{ lycee.ville }}</td>
        </tr>
        <tr>
            <td>Adresse</td>
            <td>
                {{ lycee.adresse }}<br />
                {{ lycee.codePostal }} {{ lycee.ville }}
            </td>
        </tr>
        {% if lycee.telephone %}
        <tr>
            <td>Secrétariat</td>
            <td>{{ lycee.telephone }}</td>
        </tr>
        {% endif %}
        <tr>
            <td>Statut</td>
            <td>{{ lycee.statut }}</td>
        </tr>
        {% if lycee.ZEP %}
        <tr>
            <td>Remarques</td>
            <td>Cet établissement est classé ZEP</td>
        </tr>
        {% endif %}
    </tbody>
</table>

<table class="table table-bordered table-striped table-hover table-collapse">
    <tbody>
        <tr>
            <td>Cordée</td>
            <td>
                {% if lycee.cordee %}
                    <a href="{{ path('cordee', { 'cordee' : lycee.cordee.id }) }}">{{ lycee.cordee.nom }}</a>
                {% else %}
                    <a href="{{ path('anciennes_cordees') }}" class="muted">Aucune cordée</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Rôle</td>
            <td>{{ lycee.pivot ? 'Lycée Pivot' : 'Lycée Source' }}</td>
        </tr>
        <tr>
            <td>VP Lycée</td>
            <td>
                {% for vp in lycee.vpLycees %}
                    <a href="
                            {% if ((is_granted('ROLE_PROFESSEUR_REFERENT') or is_granted('ROLE_PROVISEUR')) and app.user in lycee.professeurs)
                               or is_granted('ROLE_TUTEUR')
                               or (is_granted('ROLE_ELEVE_DELEGUE') and lycee in app.user.groupe.lycees) %}
                                
                                    {{ path('voir_membre', { 'membre': vp.id }) }}
                            {% else %}
                                    #
                            {% endif %}
                            ">
                        {{ vp.prenom|ucwords }} {{ vp.nom|ucwords }}{% if not loop.last %}, {% endif %}
                    </a>
                {% else %}
                    <span class="muted">Aucun VP Lycée</span>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>Elèves délégués</td>
            <td>
                    {% for eleve in lycee.delegues %}
                        <a href="
                                {% if ((is_granted('ROLE_PROFESSEUR_REFERENT') or is_granted('ROLE_PROVISEUR')) and app.user in lycee.professeurs)
                                   or is_granted('ROLE_TUTEUR')
                                   or (is_granted('ROLE_ELEVE_DELEGUE') and lycee in app.user.groupe.lycees) %}
                                    
                                        {{path('voir_eleve', {'id':eleve.id})}}
                                {% else %}
                                        #
                                {% endif %}
                                ">
                            {{eleve.prenom|ucwords}} {{eleve.nom|ucwords}}{% if not loop.last %}, {% endif %}
                        </a>
                    {% else %}
                        <span class="muted">Aucun élève délégué</span>
                    {% endfor %}
            </td>
        </tr>
    </tbody>
</table>

{% if proviseur is not null or referent is not null %}   
<table class="table table-bordered table-striped table-hover table-collapse">
    <tbody>
        {% if proviseur is not null %}
            <tr>
                <td>Proviseur</td>
                <td>
                    <a href="
                            {% if ((is_granted('ROLE_PROFESSEUR_REFERENT') or is_granted('ROLE_PROVISEUR')) and app.user in lycee.professeurs)
                               or is_granted('ROLE_TUTEUR')
                               or (is_granted('ROLE_ELEVE_DELEGUE') and lycee in app.user.groupe.lycees) %}
                                
                                    {{ path('voir_professeur', { 'id': proviseur.id }) }}
                            {% else %}
                                    #
                            {% endif %}
                            ">{{ proviseur.prenom }} {{ proviseur.nom }}
                    </a>
                </td>
            </tr>
        {% endif %}
        {% if referent is not null %}
            <tr>
                <td>Référent</td>
                <td>
                    <a href="
                            {% if ((is_granted('ROLE_PROFESSEUR_REFERENT') or is_granted('ROLE_PROVISEUR')) and app.user in lycee.professeurs)
                               or is_granted('ROLE_TUTEUR')
                               or (is_granted('ROLE_ELEVE_DELEGUE') and lycee in app.user.groupe.lycees) %}
                                
                                    {{ path('voir_professeur', { 'id': referent.id }) }}
                            {% else %}
                                    #
                            {% endif %}
                            ">
                            {{ referent.prenom }} {{ referent.nom }}
                    </a>
                </td>
            </tr>
        {% endif %}
    </tbody>
</table>
{% endif %}

<table class="table table-bordered table-striped table-hover table-collapse">
    <tbody>
        <tr>
            <td>Type</td>
            <td>{{ types ? types|join(', ') : 'Aucun groupe de tutorat' }}</td>
        </tr>
        <tr>
            <td>Niveaux</td>
            <td>{{ niveaux ? niveaux|join(', ') : 'Aucun groupe de tutorat' }}</td>
        </tr>
        <tr>
            <td>Lycéens</td>
            <td>{{ lyceens ? lyceens|length : 'Aucun' }} lycéen{{ lyceens|length > 1 ? 's' }} actuellement</td>
        </tr>
        <tr>
            <td>Tuteurs</td>
            <td>{{ tuteurs ? tuteurs|length : 'Aucun' }} tuteur{{ tuteurs|length > 1 ? 's' }} actuellement</td>
        </tr>
    </tbody>
</table>

{% if lycee in app.user.lyceespourVP or is_granted('ROLE_BURO') %}
<a href="{{ path('editer_lycee', { 'lycee': lycee.id }) }}" class="btn btn-block">Éditer le lycée</a>
{% endif %}
