{% extends 'CECTutoratBundle:Lycees:base.html.twig' %}

{% block right %}
{{ parent() }}

<table class="table table-bordered table-hover table-striped table-large">
    {% if lycee.groupes|length > 0 %}
        <thead><tr><th><h4>Groupes de tutorat</h4></th></tr></thead>
        <tbody>
            {% for groupe in lycee.groupes %}
            <tr>
                <td>
                    <a class="close pull-right close-red" 
                        href="{{ path('lycee_supprimer_groupe', { 'lycee': lycee.id, 'groupe': groupe.id }) }}">
                            &times;
                    </a>
                    <a href="{{ path('groupe', { 'groupe': groupe.id }) }}">
                        <strong>{{ groupe.niveau }}</strong><span class="muted"> - {{ groupe.typeDeTutorat }}</span><br />
                        Tous les {{ cycle(jours, groupe.debut|date('N'))|lower }}s à {{ groupe.debut|date('G\\hi') }}, {{ groupe.lieu|lower }}.
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    {% else %}
        <thead><tr><th class="muted"><h4>Aucun groupe de tutorat pour ce lycée</h4></th></tr></thead>
    {% endif %}
    {% if is_granted('ROLE_BURO') %}
    <tbody>
        <tr>
            <td class="ajout">
                <a href="{{ path('creer_groupe', { 'lycee': lycee.id }) }}" class="btn btn-block">Créer un groupe de tutorat</a>
            </td>
        </tr>
    </tbody>
    {% endif %}
</table>

<table class="table table-bordered table-hover table-striped table-large">
    {% if lycee.professeurs|length > 0 %}
        <thead><tr><th><h4>Enseignants</h4></th></tr></thead>
        <tbody>
            {% for enseignant in lycee.professeurs %}
            <tr>
                <td>
                    <a class="close pull-right close-red" 
                        href="{{ path('lycee_supprimer_enseignant', { 'lycee': lycee.id, 'enseignant': enseignant.id }) }}">
                            &times;
                    </a>
                    <a href="{{ path('voir_professeur', { 'id': enseignant.id }) }}">
                        <strong>{{ enseignant.prenom }} {{ enseignant.nom }}</strong><br />
                        {{ enseignant.role is not empty ? enseignant.role }}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    {% else %}
        <thead><tr><th class="muted"><h4>Aucun enseignant pour ce lycée</h4></th></tr></thead>
    {% endif %}
    <tbody>
        <tr>
            <td class="ajout">
                <form class="form form-inline" method="post" action="{{ path('lycee_ajouter_enseignant', { 'lycee': lycee.id }) }}">
                    {{ form_errors(ajouter_enseignant_form) }}
                    {{ form_widget(ajouter_enseignant_form.enseignant) }}
                    {{ form_rest(ajouter_enseignant_form) }}
                    <input type="submit" name="ajouter_enseignant_button" class="btn btn-primary" value="Ajouter" />
                </form>
            </td>
        </tr>

    </tbody>
</table>

<table class="table table-bordered table-hover table-striped table-large">
    {% if lycee.delegues|length > 0 %}
        <thead><tr><th><h4>Elèves délégués</h4></th></tr></thead>
        <tbody>
            {% for delegue in lycee.delegues %}
            <tr>
                <td>
                    <a class="close pull-right close-red" 
                        href="{{ path('lycee_supprimer_delegue', { 'lycee': lycee.id, 'delegue': delegue.id }) }}">
                            &times;
                    </a>
                    <a href="{{ path('voir_eleve', { 'id': delegue.id }) }}">
                        <strong>{{ delegue.prenom }} {{ delegue.nom }}</strong><br />
                        {{ delegue.groupe is not empty ? delegue.groupe.description }}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    {% else %}
        <thead><tr><th class="muted"><h4>Aucun délégué pour ce lycée</h4></th></tr></thead>
    {% endif %}
    <tbody>
        <tr>
            <td class="ajout">
                <form class="form form-inline" method="post" action="{{ path('lycee_ajouter_delegue', { 'lycee': lycee.id }) }}">
                    {{ form_errors(ajouter_delegue_form) }}
                    {{ form_widget(ajouter_delegue_form.delegue) }}
                    {{ form_rest(ajouter_delegue_form) }}
                    <input type="submit" name="ajouter_delegue_button" class="btn btn-primary" value="Ajouter" />
                </form>
            </td>
        </tr>
        
    </tbody>
</table>


{% endblock %}


{% block left %}
    
<table class="table table-bordered table-form">
    <thead>
        <tr><th class="edition"></th></tr>
        <tr><th class="titre titre-edition">
            <h3>
                Édition de<br />
                {{ lycee.nom }}
            </h3>
        </th></tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <form class="form" method="post" action="{{ path('editer_lycee', { 'lycee': lycee.id }) }}">
                    {{ form_widget(lycee_form) }}
                    
                    <input type="submit" name="enregistrer" class="btn btn-block btn-primary btn-large" value="Enregistrer les modifications" />
                </form>
            </td>
        </tr>
    </tbody>
</table>

{% endblock left %}
