{% extends 'CECTutoratBundle:Lycees:base.html.twig' %}
{% import  'CECMainBundle::macros.html.twig' as modal %}

{% block right %}
{{ parent() }}

<table class="table table-bordered table-hover table-striped table-large">
    {% if lycee.groupes|length > 0 %}
        <thead><tr><th><h4>Groupes de tutorat</h4></th></tr></thead>
        <tbody>
            {% for groupe in lycee.groupes %}
            <tr>
                <td>
                    <a class="close pull-right close-red" 
                        href="{{ path('supprimer_groupe', { 'lycee': lycee.id, 'groupe': groupe.id }) }}">
                            &times;
                    </a>
                    <a href="{{ path('groupe', { 'groupe': groupe.id }) }}">
                        <strong>{{ groupe.niveau }}</strong><span class="muted"> - {{ groupe.typeDeTutorat }}</span><br />
                        Tous les {{ cycle(jours, groupe.debut|date('N'))|lower }}s à {{ groupe.debut|date('G\\hi') }}, {{ groupe.lieu|lower }}.
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    {% else %}
        <thead><tr><th class="muted"><h4>Aucun groupe de tutorat pour ce lycée</h4></th></tr></thead>
    {% endif %}
    <tbody>
        <tr>
            <td class="ajout">
                <a href="{{ path('creer_groupe') }}" class="btn btn-block">Créer un groupe de tutorat</a>
            </td>
        </tr>
    </tbody>
</table>

<table class="table table-bordered table-hover table-striped table-large">
    {% if lyceens %}
        <thead><tr><th><h4>Lycéens <span class="count">{{ lyceens|length }}</span></h4></th></tr></thead>
        <tbody>
            {% for lyceen in lyceens %}
            <tr>
                <td>
                    <a href="{{ path('lyceen', { 'lyceen': lyceen.id }) }}">
                        <strong>{{ lyceen.prenom }} {{ lyceen.nom }}</strong>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    {% else %}
        <thead><tr><th class="muted"><h4>Aucun lycéen pour ce lycée</h4></th></tr></thead>
    {% endif %}
</table>

<table class="table table-bordered table-hover table-condensed table-striped table-large">
    {% if tuteurs %}
        <thead><tr><th><h4>Tuteurs<span class="count">{{ tuteurs|length }}</span></h4></th></tr></thead>
        <tbody>
            {% for tuteur in tuteurs %}
            <tr>
                <td>
                    <a href="{{ path('membre', { 'membre': tuteur.id }) }}">
                        <strong>{{ tuteur.prenom }} {{ tuteur.nom }}</strong>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    {% else %}
        <thead><tr><th class="muted"><h4>Aucun tuteur pour ce lycée</h4></th></tr></thead>
    {% endif %}
</table>

<table class="table table-bordered table-hover table-striped table-large">
    {% if lycee.enseignants|length > 0 %}
        <thead><tr><th><h4>Enseignants</h4></th></tr></thead>
        <tbody>
            {% for enseignant in lycee.enseignants %}
            <tr>
                <td>
                    <a href="{{ path('enseignant', { 'enseignant': enseignant.id }) }}">
                        <strong>{{ enseignant.prenom }} {{ enseignant.nom }}</strong><br />
                        {{ enseignant.role is not empty ? enseignant.role }}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    {% else %}
        <thead><tr><th class="muted"><h4>Aucun enseignant pour ce lycée</h4></th></tr></thead>
    {% endif %}
</table>

<table class="table table-bordered table-hover table-striped table-large">
    {% if seances %}
        <thead><tr><th><h4>Prochaines séances de tutorat</h4></th></tr></thead>
        <tbody>
            {% for seance in seances %}
            <tr>
                <td>
                    <strong>{{ cycle(jours, seance.debut|date('N')) }} {{ seance.debut|date('j') }} {{ cycle(mois, seance.debut|date('n')) }} à {{ seance.debut|date('G\\hi') }}</strong><br />
                    Séance pour les {{ seance.groupe.niveau|lower }}, {{ (seance.lieu ?: seance.groupe.lieu)|lower }} (rendez-vous {{ (seance.rendezVous ?: seance.groupe.rendezVous)|lower }})
                </td>
            </tr>
            {% endfor %}
        </tbody>
    {% else %}
        <thead><tr><th class="muted"><h4>Aucune séance de tutorat à venir pour ce lycée</h4></th></tr></thead>
    {% endif %}
</table>

{% endblock %}


{% block left %}
    
<table class="table table-bordered table-form">
    <thead>
        <tr><th class="edition"></th></tr>
        <tr><th class="titre titre-edition">
            <h3>
                Édition de<br />
                {{ lycee.nom }}
            </h3>
        </th></tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <form class="form" method="post" action="{{ path('editer_lycee', { 'lycee': lycee.id }) }}">
                    {{ form_widget(lycee_form) }}
                    
                    <input type="submit" name="enregistrer" class="btn btn-block btn-primary btn-large" value="Enregistrer les modifications" />
                </form>
            </td>
        </tr>
    </tbody>
</table>

{% endblock left %}
