{% extends 'CECTutoratBundle:Lycees:base.html.twig' %}
{% import  'CECMainBundle::macros.html.twig' as modal %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{% block right %}
{{ parent() }}

{% if lycee in app.user.groupe.lycees|default('') %}
{{ flash('info', 'Bienvenue sur la page de votre lycée !') }}
{% endif %}

<table class="table table-bordered table-hover table-striped table-large">
    {% if lycee.groupes|length > 0 %}
        <thead><tr><th><h4>Groupes de tutorat</h4></th></tr></thead>
        <tbody>
            {% for groupe in groupes %}
            <tr>
                <td>
                    <a href="{{ path('groupe', { 'groupe': groupe.id }) }}">
                        <strong>{{ groupe.niveau }}</strong><span class="muted"> - {{ groupe.typeDeTutorat }}</span><br />
                        Tous les {{ cycle(jours, groupe.debut|date('N'))|lower }}s à {{ groupe.debut|date('G\\hi') }}, {{ groupe.lieu|lower }}.
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    {% else %}
        <thead><tr><th class="muted"><h4>Aucun groupe de tutorat pour ce lycée</h4></th></tr></thead>
    {% endif %}
</table>

<table class="table table-bordered table-hover table-striped table-large">
    {% if lyceens %}
        <thead><tr><th><h4>Lycéens <span class="count">{{ lyceens|length }}</span></h4></th></tr></thead>
        <tbody>
            {% for lyceen in lyceens %}
            <tr>
                <td>
                    <a href="{{ path('lyceen', { 'lyceen': lyceen.id }) }}">
                        <strong>{{ lyceen.prenom }} {{ lyceen.nom }}</strong>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    {% else %}
        <thead><tr><th class="muted"><h4>Aucun lycéen pour ce lycée</h4></th></tr></thead>
    {% endif %}
</table>

<table class="table table-bordered table-hover table-condensed table-striped table-large">
    {% if tuteurs %}
        <thead><tr><th><h4>Tuteurs<span class="count">{{ tuteurs|length }}</span></h4></th></tr></thead>
        <tbody>
            {% for tuteur in tuteurs %}
            <tr>
                <td>
                    <a href="{{ path('cec_membre_membres_voir', { 'membre': tuteur.id }) }}">
                        <strong>{{ tuteur.prenom }} {{ tuteur.nom }}</strong>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    {% else %}
        <thead><tr><th class="muted"><h4>Aucun tuteur pour ce lycée</h4></th></tr></thead>
    {% endif %}
</table>

<table class="table table-bordered table-hover table-striped table-large">
    {% if lycee.enseignants|length > 0 %}
        <thead><tr><th><h4>Enseignants</h4></th></tr></thead>
        <tbody>
            {% for enseignant in lycee.enseignants %}
            <tr>
                <td>
                    <a href="{{ path('enseignant', { 'enseignant': enseignant.id }) }}">
                        <strong>{{ enseignant.prenom }} {{ enseignant.nom }}</strong><br />
                        {{ enseignant.role is not empty ? enseignant.role }}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    {% else %}
        <thead><tr><th class="muted"><h4>Aucun enseignant pour ce lycée</h4></th></tr></thead>
    {% endif %}
</table>

<table class="table table-bordered table-hover table-striped table-large">
    {% if seances %}
        <thead>
            <tr>
                <th>
                    <h4>
                        Prochaines séances de tutorat
                        <a href="{{ path('toutes_seances') }}" class="btn btn-small pull-right">
                            Planning des séances
                        </a>
                    </h4>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for seance in seances %}
            <tr>
                <td>
                    <a href="{{ path('seance', { 'seance': seance.id }) }}">
                        <strong>{{ cycle(jours, seance.date|date('N')) }} {{ seance.date|date('j') }} {{ cycle(mois, seance.date|date('n')) }} à {{ (seance.debut ?: seance.groupe.debut)|date('G\\hi') }}</strong><br />
                        Séance pour les {{ seance.groupe.niveau|lower }}, {{ (seance.lieu ?: seance.groupe.lieu)|lower }} (rendez-vous {{ (seance.rendezVous ?: seance.groupe.rendezVous)|lower }})
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    {% else %}
        <thead><tr><th class="muted"><h4>Aucune séance de tutorat à venir pour ce lycée</h4></th></tr></thead>
    {% endif %}
</table>

{% endblock %}
