{% extends 'CECTutoratBundle:Lycees:base.html.twig' %}
{% import  'CECMainBundle::macros.html.twig' as modal %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{% block right %}
{{ parent() }}

{% if lycee in app.user.groupe.lycees|default('') or lycee == app.user.lycee %}
{{ flash('info', 'Bienvenue sur la page de votre lycée !') }}
{% endif %}

<table class="table table-bordered table-hover table-striped table-large">
    {% if lycee.groupes|length > 0 %}
        <thead><tr><th><h4>Groupes de tutorat</h4></th></tr></thead>
        <tbody>
            {% for groupe in groupes %}
            <tr>
                <td>
                    <a href="{{ path('groupe', { 'groupe': groupe.id }) }}">
                        <strong>{{ groupe.niveau }}</strong><span class="muted"> - {{ groupe.typeDeTutorat }}</span><br />
                        Tous les {{ cycle(jours, groupe.debut|date('N'))|lower }}s à {{ groupe.debut|date('G\\hi') }}, {{ groupe.lieu|lower }}.
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    {% else %}
        <thead><tr><th class="muted"><h4>Aucun groupe de tutorat pour ce lycée</h4></th></tr></thead>
    {% endif %}
</table>

<table class="table table-bordered table-hover table-striped table-large">
    {% if lyceens %}
        <thead><tr><th><h4>Lycéens <span class="count">{{ lyceens|length }}</span></h4></th></tr></thead>
        <tbody>
            {% for lyceen in lyceens %}
            <tr>
                <td>
                    <a href="
                            {% if ((is_granted('ROLE_PROFESSEUR_REFERENT') or is_granted('ROLE_PROVISEUR')) and app.user in lycee.professeurs)
                               or is_granted('ROLE_TUTEUR')
                               or (is_granted('ROLE_ELEVE_DELEGUE') and lycee in app.user.groupe.lycees) %}
                                
                                    {{ path('voir_eleve', { 'id': lyceen.id }) }}
                            {% else %}
                                    #
                            {% endif %}
                            ">
                        <strong>{{ lyceen.prenom }} {{ lyceen.nom }}</strong>
                        {% if lycee == lyceen.delegue %}
                            <span class="label pull-right"> Elève délégué</span>
                        {% endif %}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    {% else %}
        <thead><tr><th class="muted"><h4>Aucun lycéen pour ce lycée</h4></th></tr></thead>
    {% endif %}
</table>

<table class="table table-bordered table-hover table-condensed table-striped table-large">
    {% if tuteurs %}
        <thead><tr><th><h4>Tuteurs<span class="count">{{ tuteurs|length }}</span></h4></th></tr></thead>
        <tbody>
            {% for tuteur in tuteurs %}
            <tr>
                <td>
                    <a href="
                            {% if ((is_granted('ROLE_PROFESSEUR_REFERENT') or is_granted('ROLE_PROVISEUR')) and app.user in lycee.professeurs)
                               or is_granted('ROLE_TUTEUR')
                               or (is_granted('ROLE_ELEVE_DELEGUE') and lycee in app.user.groupe.lycees) %}
                                
                                    {{ path('voir_membre', { 'membre': tuteur.id }) }}
                            {% else %}
                                    #
                            {% endif %}
                            ">
                        <strong>{{ tuteur.prenom }} {{ tuteur.nom }}</strong>
                        {% if lycee in tuteur.lyceesPourVP %}
                            <span class="label pull-right">VP Lycée</span>
                        {% endif %}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    {% else %}
        <thead><tr><th class="muted"><h4>Aucun tuteur pour ce lycée</h4></th></tr></thead>
    {% endif %}
</table>

<table class="table table-bordered table-hover table-striped table-large">
    {% if lycee.professeurs|length > 0 %}
        <thead><tr><th><h4>Enseignants</h4></th></tr></thead>
        <tbody>
            {% for enseignant in lycee.professeurs %}
            <tr>
                <td>
                    <a href="
                            {% if (is_granted('ROLE_PROFESSEUR') and app.user in lycee.professeurs)
                               or is_granted('ROLE_TUTEUR')
                               or (is_granted('ROLE_ELEVE_DELEGUE') and lycee in app.user.groupe.lycees) %}
                                
                                    {{ path('voir_professeur', { 'id': enseignant.id }) }}
                            {% else %}
                                    #
                            {% endif %}
                            ">
                        <strong>{{ enseignant.prenom }} {{ enseignant.nom }}</strong><br />
                        {% if is_granted("ROLE_PROFESSEUR_REFERENT") %}
                            <span class="label pull-right">Professeur référent</span>
                        {% elseif is_granted("ROLE_PROVISEUR") %}
                            <span class="label pull-right">Proviseur</span>
                        {% endif %}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    {% else %}
        <thead><tr><th class="muted"><h4>Aucun enseignant pour ce lycée</h4></th></tr></thead>
    {% endif %}
</table>

<table class="table table-bordered table-hover table-striped table-large">
    {% if seances %}
        <thead>
            <tr>
                <th>
                    <h4>
                        Prochaines séances de tutorat
                        <a href="{{ path('toutes_seances') }}" class="btn btn-small pull-right">
                            Planning des séances
                        </a>
                    </h4>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for seance in seances %}
            <tr>
                <td>
                    <a href="{{ path('seance', { 'seance': seance.id }) }}">
                        <strong>{{ cycle(jours, seance.date|date('N')) }} {{ seance.date|date('j') }} {{ cycle(mois, seance.date|date('n')) }} à {{ (seance.debut ?: seance.groupe.debut)|date('G\\hi') }}</strong><br />
                        Séance pour les {{ seance.groupe.niveau|lower }}, {{ (seance.lieu ?: seance.groupe.lieu) }} (rendez-vous {{ (seance.rendezVous ?: seance.groupe.rendezVous) }})
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    {% else %}
        <thead><tr><th class="muted"><h4>Aucune séance de tutorat à venir pour ce lycée</h4></th></tr></thead>
    {% endif %}
</table>

{% endblock %}
