{% extends 'CECMainBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@CECCalendrierBundle/Resources/public/less/planning.less'
        '@ADesignsCalendarBundle/Resources/public/css/fullcalendar/fullcalendar.css'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    {% javascripts
        '@ADesignsCalendarBundle/Resources/public/js/jquery/jquery-1.8.2.min.js'
        '@ADesignsCalendarBundle/Resources/public/js/fullcalendar/jquery.fullcalendar.min.js'
        '@CECCalendrierBundle/Resources/public/js/planning-settings.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block container %}
    {{ parent() }}
    
    <div class="row">
        <div class="span12 planning">
            {% include 'ADesignsCalendarBundle::calendar.html.twig' %}
        </div>
    </div>
{% endblock %}
