{% extends 'CECSecteurProjetsBundle::base.html.twig' %}



{% block right %}

{{parent()}}

<h1> Modifier l'album {{album.projet.slug}}-{{album.annee}} </h1>

<h2>Supprimer une photo</h2>

<table class="table table-bordered table-striped">
    <tbody>
	{% for image in album.images%}
        <tr>
			<td>
				{{image.alt}}
			</td>
			<td>
				<a href="{{path('gerer_album', {'id' : album.id, 'image_id': image.id})}}" class="btn btn-danger">Supprimer </a>
			</td>
        </tr>
	{% endfor %}
    </tbody>
</table>

<h2>Ajouter une photo</h2>

<form class="form form-horizontal" method="post" action="{{ path('gerer_album', {'id':album.id}) }}" {{ form_enctype(form) }}><br/>
	<div class="form-group">
		{{form_label(form.projet)}}
		{{form_widget(form.projet, {'attr' : {'class' : 'col-md-4 form-control'}})}}
	</div>
	<div class="form-group">
		{{form_label(form.annee)}}
		{{form_widget(form.annee, {'attr' : {'class' : 'col-md-4 form-control'}})}}
	</div>

		{{form_rest(form)}}
    <div class="footer-controls">
        <input type="submit" value="Ajouter les photos" class="btn btn-primary" />
        <a href="{{ path('voir_albums') }}" class="btn btn-default pull-right">Annuler</a>
    </div>
</form>

{% endblock %}

{% block javascripts %}
{{parent()}}

{% javascripts
			   '@CECSecteurProjetsBundle/Resources/public/js/ajoutImage.js'
				
				 %}
	<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{% endblock %}
