{% extends 'CECSecteurProjetsBundle::base.html.twig' %}



{% block right %}

{{parent()}}

<h2>Albums photos des projets</h2>

{% set maxAlbum = 0 %}
{% for projet in projets %}
	{% if projet.albums|length > maxAlbum %}
		{% set maxAlbum = projet.albums|length %}
	{% endif %}
{% endfor %}

<table class="table table-bordered table-striped table-large">
    <tbody>
	{% for projet in projets%}
        <tr>
            <th>
                {{projet.nom}}
            </th>
			{% for album in projet.albums %}
				<td
				{% if loop.last%}
					colspan="{{maxAlbum - projet.albums|length + 1}}"
				{% endif %}
				>
					<a href="{{path('voir_photos', {'id': album.id})}}">{{album.annee}}</a>
				</td>
			{% else %}
				<td> 
					<em>Pas encore d'albums disponibles</em>
				</td>
			{% endfor %}
        </tr>
	{% endfor %}
    </tbody>
</table>

{% endblock %}
