{% extends 'CECMainBundle::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    
    {% stylesheets
        '@CECMembreBundle/Resources/public/less/connexion.less'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block container %}

<div class="row">
    <div class="col-md-6 col-md-offset-3 well">
        {{ parent() }}

        <h2> Inscription d'un nouveau professeur </h2>

        <form class="form" method="post" action="{{ path('inscriptionProfesseur') }}">
            {{ form_widget(form) }}
            <div class="footer-controls">
                <input type="submit" value="S'inscrire" class="btn btn-primary pull-right" />
                <a href="{{ path('connexion') }}" class="btn btn-default pull-right">Annuler</a>
            </div>
            <br/><br/>
        </form>
    </div>
</div>


{% endblock %}