{% extends 'CECMainBundle::narrow.html.twig' %}


{% block narrow_title %}Nouveau quizz actu{% endblock %}

{% block narrow_body %}

{{ parent() }}

<form class="form" method="post" action="{{ path('quizzActu_creer') }}" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div class="footer-controls">
        <input type="submit" value="Créer le quizz actu" class="btn btn-primary pull-right" />
        <a href="{{ path('quizzActu') }}" class="btn pull-right">Annuler</a>
    </div>
</form>

{% endblock %}
