{% extends 'CECSecteurSortiesBundle:SortiesProfesseur:base.html.twig' %}

{% block right %}

<h1>Liste des sorties à venir</h1>

<table class="table table-bordered table-striped table-large">
    <tbody>
        {% for sortie in sorties %}
        <tr>
            <td id="{{sortie.id}}">
                <p><strong>{{sortie.nom}}</strong> le <strong>{{ cycle(jours, sortie.dateSortie|date('N')) }} {{ sortie.dateSortie|date('j') }} {{ cycle(mois, sortie.dateSortie|date('n')) }} {{ sortie.dateSortie|date('Y') }}</strong> de <strong>{{sortie.heureDebut|date('G\\hi')}} à {{sortie.heureFin|date('G\\hi')}}</strong>.</p>
                <p>Adresse : {{sortie.adresse}}</p>
                <p style="text-align:justify;">{{sortie.description}}</p>
				{% if is_granted('ROLE_PROFESSEUR_REFERENT')%}
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
									Lycéens de votre lycée participant à la sortie
								</a>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
						{{ render(controller("CECSecteurSortiesBundle:SortiesProfesseur:lyceens", {'sortie' : sortie})) }}
						</div>
					</div>
				</div>
				{% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
