{% extends 'CECMainBundle::2-columns.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{% block right %}
    <h2> Liste des élèves</h2>

{{ parent() }}

<table class="table table-hover table-bordered table-striped">
    {% if eleves|length > 0 %}
        <tbody>
            {% for eleve in eleves %}
            <tr>
                <td>
                    
                    <a href="{{ path('voir_eleve', { 'id': eleve.id }) }}" style="margin-top: 1px; display: inline-block;">
                        {{ eleve.prenom|ucwords }} {{ eleve.nom|ucwords }}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    {% else %}
        <thead><tr><th class="muted"><h4>Aucun eleve dans la base de donnée !</h4></th></tr></thead>
    {% endif %}
</table>


{% endblock %}

{% block left %}
    {{parent()}}
    {{ render(controller('CECMembreBundle:Membres:menu', { 'request': app.request})) }}
{% endblock %}