{% extends 'CECMainBundle::2-columns.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}


{% block right %}
    <div class="row narrow-header">
                {% block narrow_header %}
                    <h3 class="narrow-title">
                        {% block narrow_title %}
                            Membres
                        {% endblock %}
                    </h3>
                {% endblock %}
     </div>
     <div class="row narrow-body">{% block narrow_body %}

{{ parent() }}

{% if is_granted('ROLE_BURO') %}
{{ flash('alert', 'Attention ! La suppression d\'un membre est définitive et entraîne aussi la suppression de toutes les activités dont il est l\'auteur.') }}
{% endif %}

<table class="table table-bordered table-hover table-striped">
    {% if membres|length > 0 %}
        <tbody>
            {% for membre in membres %}
            <tr>
                <td>
                    {% if is_granted('ROLE_BURO') and membre != app.user %}
                        <a href="{{ path('supprimer_membre', { 'membre': membre.id }) }}" class="btn btn-mini btn-danger pull-right">Supprimer définitivement</a>
                    {% endif %}
                    <a href="{{ path('supprimer_membre', { 'membre': membre.id }) }}" style="margin-top: 1px; display: inline-block;">
                        {{ membre.prenom|ucwords }} {{ membre.nom|ucwords }}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    {% else %}
        <thead><tr><th class="muted"><h4>Aucun membre dans la base de donnée !</h4></th></tr></thead>
    {% endif %}
</table>

{% if is_granted('ROLE_BURO') %}
<a href="{{ path('creer_membre') }}" class="btn pull-right">Ajouter un membre</a>
{% endif %}

{% endblock %}
</div>

{% endblock %}

{% block left %}
    {{parent()}}
    {% render 'CECMembreBundle:Membres:menu' with { 'request': app.request } %}
{% endblock %}
