{% extends 'CECMembreBundle:Membres:base.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{% block left %}
{{ parent() }}

    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th colspan="2" class="titre">
                    <h3>{{ eleve.prenom|ucwords }} {{ eleve.nom|ucwords }}</h3>
                </th>
            </tr>
            <tr><th colspan="2" class="image">
                {% image '@CECMembreBundle/Resources/public/img/tuteur.jpg' %}
                    <img src="{{ asset_url }}" alt="Image du lycée"/>
                {% endimage %}
            </th></tr>
        </thead>
        <tbody>
            <tr>
                <td>Email</td>
                <td><a href="mailto:{{ eleve.mail }}">{{ eleve.mail }}</a></td>
            </tr>
			{% if eleve.telephonePublic %}
			<tr>
                <td>Téléphone</td>
                <td>{{ eleve.telephone }}</td>
            </tr>
			{% endif %}
        </tbody>
    </table>
    
    <table class="table table-bordered table-striped table-hover">
        <tbody>
            <tr>
                <td>Tutorat</td>
                <td>
                    {% if eleve.groupe %}
                        <a href=" {{ path('groupe', {'groupe' : eleve.groupe.id } ) }}">
                            {{eleve.groupe.description}}
                        </a>
                    {% else %}
                        <span class="muted">Pas de tutorat</span>
                    {% endif %}
                </td>
            </tr>
            {% if eleve.delegue %}
                <tr>
                    <td>Délégué</td>
                    <td>
                        <a href="{{ path('lycee', {'lycee' : eleve.delegue.id } ) }}">
                            {{eleve.delegue.nom}}
                        </a>
                    </td>
                </tr>
            {% endif %}

            {% if is_granted('ROLE_TUTEUR') or is_granted('ROLE_PROFESSEUR_REFERENT') or is_granted('ROLE_PROVISEUR') or eleve == app.user %}
                <tr>
                    <td> Relevé de présences </td>
                    <td> <a class="btn btn-small btn-primary label" href="{{ path('absences', {'lyceen' : eleve.id} ) }}"> Séances </a> 
                        <a class="btn btn-small btn-primary label" href="{{ path('participation_sorties', {'lyceen' : eleve.id} ) }}"> Sorties </a>
                        <a class="btn btn-small btn-primary label" href="{{ path('suivi_inscriptions', {'lyceen' : eleve.id} ) }}"> Projets </a> 

                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    {% if app.user == eleve %}
        <a href="{{ path('reglages_infos_eleve', {'lyceen' : eleve.id }) }}" class="btn btn-block">Modifier mon profil</a>
    {% endif %}
    
{% endblock %}


{% block right %}
{{ parent() }}

    {% if eleve == app.user %}
        {{ flash('info', "Voici votre page de profil telle qu'elle apparaît pour les utilisateurs. Pour modifier vos infos, utilisez le bouton en bas à gauche de votre écran.") }}
    {% endif %}
	


    <table class="table table-bordered table-hover table-striped table-large">
        {% if eleve.groupe %}
            <thead><tr><th><h4>Groupe de tutorat</h4></th></tr></thead>
            <tbody>
                <tr>
                    <td>
                        <a href="{{ path('groupe', { 'groupe': eleve.groupe.id }) }}">
                            <strong>
                                {{eleve.groupe.description}}
                            </strong>
                            <span class="muted">- {{ eleve.groupe.typeDeTutorat }}</span><br />
                            Tous les {{ cycle(jours, eleve.groupe.debut|date('N'))|lower }}s à {{ eleve.groupe.debut|date('G\\hi') }}, {{ eleve.groupe.lieu|lower }}.
                        </a>
                    </td>
                </tr>
            </tbody>
        {% else %}
            <thead><tr><th class="muted"><h4>Aucune activité de tutorat</h4></th></tr></thead>
        {% endif %}
    </table>  

{% endblock %}
