{% extends 'CECMembreBundle:Membres:base.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{% block left %}
{{ parent() }}

    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th colspan="2" class="titre">
                    <h3>{{ membre.prenom|ucwords }} {{ membre.nom|ucwords }}</h3>
                </th>
            </tr>
            <tr><th colspan="2" class="image text-center">
                {% image '@CECMembreBundle/Resources/public/img/tuteur.jpg' %}
                    <img src="{{ asset_url }}" alt="Image du lycée"/>
                {% endimage %}
            </th></tr>
        </thead>
        <tbody>
            <tr>
                <td>Username</td>
                <td>{{ membre.username }}</td>
            </tr>
            <tr>
                <td>Promotion</td>
                <td>Promotion {{ membre.promotion }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td><a href="mailto:{{ membre.mail }}">{{ membre.mail }}</a></td>
            </tr>
            <tr>
                <td>Téléphone</td>
                <td>
                    {% if membre.telephone %}
                        {{ membre.telephone }}
                    {% else %}
                        <span class="muted">Aucun numéro</span>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
    
    <table class="table table-bordered table-striped table-hover">
        <tbody>
            <tr>
                <td>Tutorat</td>
                <td>
                    {% if membre.groupe %}
                        Actif en tant que tuteur
                    {% else %}
                        <span class="muted">Pas de tutorat</span>
                    {% endif %}
                </td>
            </tr>
            {% if membre.lyceesPourVP|length %}
                <tr>
                    <td>VP Lycée</td>
                    <td>
                        {% for lycee in membre.lyceesPourVP %}
                            <a href="{{ path('lycee', { 'lycee': lycee.id }) }}">
                                {{ lycee.nom }}{% if not loop.last %}, {% endif %}
                            </a>
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td>Secteurs</td>
                <td>
                    {% if membre.secteurs|length %}
                        Actif dans un secteur
                    {% else %}
                        <span class="muted">Aucun secteur</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Activités</td>
                <td>
                    {% if membre.documents %}
                        {{ membre.documents|length }} activité(s) rédigée(s)
                    {% else %}
                        <span class="muted">Aucune activité rédigée</span>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    {% if app.user == membre %}
        <a href="{{ path('reglages_infos') }}" class="btn btn-default btn-block">Modifier mon profil</a>
    {% endif %}
    
{% endblock %}


{% block right %}
{{ parent() }}

    {% if membre == app.user %}
        {{ flash('info', "Voici ta page de profil telle qu'elle apparaît pour les membres de CEC. Pour modifier tes infos, utilise le bouton en bas à gauche de votre écran.") }}
    {% endif %}
    
    <table class="table table-bordered table-hover table-striped table-large">
        {% if tutorat %}
            <thead><tr><th><h4>Groupe de tutorat (par année scolaire)</h4></th></tr></thead>
            <tbody>
                {% for groupe in tutorat %}
                    <tr>
                        <td><strong> {{groupe.anneeScolaire}} </strong> -
                            <a href="{{ path('groupe', { 'groupe': groupe.groupe.id }) }}">
                                <strong>
                                    {{groupe.groupe.description}}
                                </strong>
                                <span class="muted">- {{ groupe.groupe.typeDeTutorat }}</span><br />
                                Tous les {{ cycle(jours, groupe.groupe.debut|date('N'))|lower }}s à {{ groupe.groupe.debut|date('G\\hi') }}, {{ groupe.groupe.lieu|lower }}.
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        {% else %}
            <thead><tr><th class="muted"><h4>Aucune activité de tutorat</h4></th></tr></thead>
        {% endif %}
    </table>  
    
    <table class="table table-bordered table-hover table-striped table-large">
        {% if membre.secteurs|length or is_granted('ROLE_BURO') %}
            <thead><tr><th><h4>Secteurs</h4></th></tr></thead>
            <tbody>
                {% if membre.buro %}
                    <tr>
                        <td>
                            <strong>Membre du bureau de l'association</strong>
                        </td>
                    </tr>
                {% endif %}
                {% for secteur in membre.secteurs %}
                <tr>
                    <td>
                        {{ secteur.nom }}
                    </td>
                </tr>
                {% endfor %}
                
            </tbody>
        {% else %}
            <thead><tr><th class="muted"><h4>Aucune activité dans un secteur</h4></th></tr></thead>
        {% endif %}
    </table>
    
    {% if membre.documents|length > 0 %}
    <table class="table table-bordered table-hover table-striped table-large">
        <thead><tr><th><h4>Activités rédigées</h4></th></tr></thead>
        <tbody>
            {% for document in membre.documents %}
            <tr>
                <td>
                    <a href="{{ path('activites_voir', { 'activite': document.activite.id }) }}">
                        <strong>{{ document.activite.titre }}</strong><br />
                        Version du {{ document.dateCreation|date('d/m/Y') }}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

{% endblock %}
