
{% extends '@CECMain/baseSiteVitrine.html.twig' %}

{% block stylesheets %}
	{{ parent() }}

	<!-- Bootstrap 3 -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

	<!-- FontAwesome -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />

	<!-- JQuery FlexSlider -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.1/flexslider-min.css" type="text/css" media="screen" />

	<!-- Animate -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/2.1.1/animate.min.css" rel="stylesheet" type="text/css" media="all">

	<!-- Custom style -->
	{% stylesheets '@CECSiteVitrineBundle/Resources/public/css/style.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
	{% endstylesheets %}

	<!-- Google Fonts -->
	<link href='//fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
	<link href="//fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type='text/css'>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<!-- JQuery js -->
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"   integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="   crossorigin="anonymous"></script>

	<!-- JQuery Easing js -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.1.2/jquery.easing.min.js"></script>

	<!-- JQuery FlexSlider js -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.1/jquery.flexslider-min.js"></script>

	<!-- Boostrap js -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
	</script>

	<!--animate-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
	<script type="text/javascript">
		new WOW().init();
	</script>
	<!--//end-animate-->

{% endblock %}
{% block body %}
	{{ parent() }}
	<!-- navigation -->
	<!-- banner -->
	{% image '@CECSiteVitrineBundle/Resources/public/images/banner.jpg' %}
	<div class="banner" style="background: url({{ asset_url }}) no-repeat center bottom;
	background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;" id="home">
	{% endimage %}
		<div class="container">
			<div class="navigation wow fadeInLeft animated" data-wow-delay=".5s">
				<nav class="navbar navbar-default">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right link-effect">
							<li><a href="#home" class="scroll">Accueil</a></li>
							<li><a href="#about" class="scroll">À propos</a></li>
							<li><a href="#activites" class="scroll">Action</a></li>
							<li><a href="#partners" class="scroll">Partenaires</a></li>
							<li><a href="#contact" class="scroll">Contact</a></li>
							<div class="clearfix"></div>
						</ul>
					</div>
				</nav>
			</div>

			<div class="banner-info">
				<div class="row">
					<div class="banner-logo wow fadeInRight animated" data-wow-delay=".5s">
						{% image '@CECSiteVitrineBundle/Resources/public/images/logo-oser.png' %}
						<img src="{{ asset_url }}" alt="Logo" class="img-responsive"/>
						{% endimage %}
					</div>
				</div>
				<div class="row">
					<div class="banner-text">
						<h1 class="wow fadeInRight animated" data-wow-delay=".5s">Ouverture Sociale pour l'Égalité et la Réussite</h1>
						<p class="wow fadeInRight animated" data-wow-delay=".5s">Ils ont l'envie, nous sommes le coup de pouce.</p>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- //navigation -->
	<!-- /banner -->
	<!-- À propos -->
	<div class="about" id="about">
		<div class="container">
			<div class="col-md-6 about-left wow fadeInLeft animated" data-wow-delay=".5s">
				<h3>À PROPOS DE NOUS</h3>
				<p>Bienvenue ! Nous sommes une association d’étudiants de l'École CentraleSupelec et nous proposons à de nombreux lycéens de région parisienne de les accompagner vers les études supérieures grâce à diverses actions, quel que soit leur milieu socioculturel. Élèves, parents, professeurs, entreprises, étudiants, nous vous invitons à découvrir Ouverture Sociale pour l’Egalité et la Réussite.</p>
				<p class="text-muted small"><em>OSER agit dans le cadre du programme national des <a href="http://www.cordeesdelareussite.fr" title="Cordées de la Réussite (site web)">Cordées de la Réussite</a>.</em></p>
			</div>
			<div class="col-md-6 about-left wow fadeInRight animated" data-wow-delay=".5s">
				{% image '@CECSiteVitrineBundle/Resources/public/images/a-propos.jpg' %}
				<img src="{{ asset_url }}" alt="Photo à propos" class="img-responsive"/>
				{% endimage %}
			</div>
		</div>
	</div>

	<!-- Fin à propos -->
	<!-- mid-bann -->
	{% image '@CECSiteVitrineBundle/Resources/public/images/mid-banner.jpg' %}
	<div class="mid-bann" style="background: url({{ asset_url }}) center center no-repeat; background-size:cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	-moz-background-size: cover;
	min-height: 300px;">
	{% endimage %}
		<div class="container">
			<div class="mid-bann-info">
				<div class="col-md-3 mid-left animated wow fadeInUp animated" data-wow-duration="1200ms" data-wow-delay="500ms">
					<ul>
						<li>
							{% image '@CECSiteVitrineBundle/Resources/public/fonts/line-chart.png' %}
							<img src="{{ asset_url }}" alt="" class="mid-banner-icon"/>
							{% endimage %}</li>
						<li><h5>10</h5></li>
						<h6>ANNÉES D'ÉVOLUTION</h6>
					</ul>
				</div>
				<div class="col-md-3 mid-left animated wow fadeInUp animated" data-wow-duration="1200ms" data-wow-delay="500ms">
					<ul>
						<li>{% image '@CECSiteVitrineBundle/Resources/public/fonts/school.png' %}
							<img src="{{ asset_url }}" alt="" class="mid-banner-icon"/>
							{% endimage %}</li>
						<li><h5>12</h5></li>
						<h6>LYCÉES PARTENAIRES</h6>
					</ul>
				</div>
				<div class="col-md-3 mid-left animated wow fadeInUp animated" data-wow-duration="1200ms" data-wow-delay="500ms">
					<ul>
						<li>{% image '@CECSiteVitrineBundle/Resources/public/fonts/male-university-graduate-silhouette-with-the-cap.png' %}
							<img src="{{ asset_url }}" alt="" class="mid-banner-icon"/>
							{% endimage %}</li>
						<li><h5>70</h5></li>
						<h6>BÉNEVOLES</h6>
					</ul>
				</div>
				<div class="col-md-3 mid-left animated wow fadeInUp animated" data-wow-duration="1200ms" data-wow-delay="500ms">
					<ul>
						<li>{% image '@CECSiteVitrineBundle/Resources/public/fonts/group-of-people-in-a-formation.png' %}
							<img src="{{ asset_url }}" alt="" class="mid-banner-icon"/>
							{% endimage %}</span></li>
						<li><h5>300</h5></li>
						<h6>LYCÉENS ACCOMPAGNÉS</h6>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- /mid-bann -->
	<!-- Notre activité -->
	<div class="work" id="activites">
		<div class="container">
			<h3 class="animated wow fadeInDown animated" data-wow-duration="1200ms" data-wow-delay="500ms">
				NOTRE ACTION
			</h3>
			<p class="animated wow fadeInDown animated" data-wow-duration="1200ms" data-wow-delay="500ms">
				Pour accomplir notre mission, nous menons trois types d’activités : le tutorat, des sorties sur Paris, et aussi de grands projets. Clique sur les images pour en savoir plus !
			</p>
		</div>
		<div class="work-btm">
			<div class="row">
				<div class="col-md-4 work-left wow fadeInDown animated" data-wow-delay=".5s">
					<a href="#tutorat" class="scroll">
						<div class="view fifth-effect">
							{% image '@CECSiteVitrineBundle/Resources/public/images/action-tutorat.jpg' %}
							<img src="{{ asset_url }}" alt="tutorat" class="img-responsive"/>
							{% endimage %}

							<div class="mask"></div>
						</div>
					</a>
				</div>
				<div class="col-md-4 work-left wow fadeInLeft animated" data-wow-delay=".5s">
					<a href="#sorties" class="scroll">
						<div class="view fifth-effect">
							{% image '@CECSiteVitrineBundle/Resources/public/images/action-sorties.jpg' %}
							<img src="{{ asset_url }}" alt="" class="img-responsive"/>
							{% endimage %}
							<div class="mask"></div>
						</div>
					</a>
				</div>
				<div class="col-md-4 work-left wow fadeInUp animated" data-wow-duration="1200ms" data-wow-delay="500ms">
					<a href="#projets" class="scroll">
						<div class="view fifth-effect">
							{% image '@CECSiteVitrineBundle/Resources/public/images/action-projets.jpg' %}
							<img src="{{ asset_url }}" alt="" class="img-responsive"/>
							{% endimage %}
							<div class="mask"></div>
						</div>
					</a>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- Fin Notre activité -->
	<!-- Le tutorat -->
	<div class="services" id="tutorat">
		<div class="container">
			<h3 class="animated wow fadeInDown animated" data-wow-duration="1200ms" data-wow-delay="500ms">
				LE TUTORAT
			</h3>
			<p class="animated wow fadeInDown animated" data-wow-duration="1200ms" data-wow-delay="500ms">
				Voilà notre coeur de métier ! Nous organisons des séances de tutorat bimensuelles qui permettent aux lycéens de découvrir de nouvelles choses, de mieux comprendre l’actualité, de réfléchir et de débattre tous ensemble, de porter un regard différent sur les notions étudiées en cours et de développer leur confiance en eux et leur curiosité.
			</p>
		</div>
		<div class="work-btm">
			<div class="row">
				<div class="col-md-offset-2 col-md-4 work-left wow fadeInRight animated" data-wow-delay=".5s">
					{% image '@CECSiteVitrineBundle/Resources/public/images/le-tutorat.jpg' %}
					<img src="{{ asset_url }}" alt="tutorat" class="img-responsive"/>
					{% endimage %}
				</div>
				<div class="col-md-4 work-left wow fadeInRight animated" data-wow-delay=".5s">
					{% image '@CECSiteVitrineBundle/Resources/public/images/le-tutorat2.jpg' %}
					<img src="{{ asset_url }}" alt="tutorat" class="img-responsive"/>
					{% endimage %}
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- Fin le tutorat -->

	<!-- Les Sorties -->
	<div class="services" id="sorties">
		<div class="container">
			<h3 class="animated wow fadeInDown animated" data-wow-duration="1200ms" data-wow-delay="500ms">
				LES SORTIES
			</h3>
			<p class="animated wow fadeInDown animated" data-wow-duration="1200ms" data-wow-delay="500ms">
				La culture et l’enseignement supérieur ne s’apprennent pas que dans une salle de classe, c’est pourquoi nous organisons des sorties à Paris tous les mois pour les élèves intéressés, comme par exemple au Palais de la Découverte, à la Comédie Française, au Musée Grévin ou à des écoles et universités.
			</p>
		</div>

		<div class="work-btm">
			<div class="row">
				<div class="col-md-4 work-left wow fadeInLeft animated" data-wow-delay=".5s">
					{% image '@CECSiteVitrineBundle/Resources/public/images/sortie1.jpg' %}
					<img src="{{ asset_url }}" alt="" class="img-responsive"/>
					{% endimage %}

				</div>
				<div class="col-md-4 work-left animated wow fadeInUp animated" data-wow-duration="1200ms" data-wow-delay="500ms">
					{% image '@CECSiteVitrineBundle/Resources/public/images/sortie2.jpg' %}
					<img src="{{ asset_url }}" alt="" class="img-responsive"/>
					{% endimage %}
				</div>
				<div class="col-md-4 work-left wow fadeInRight animated" data-wow-delay=".5s">
					{% image '@CECSiteVitrineBundle/Resources/public/images/sortie3.jpg' %}
					<img src="{{ asset_url }}" alt="" class="img-responsive"/>
					{% endimage %}
				</div>
			</div>

			<div class="clearfix"></div>
		</div>

	</div>
	<!-- Fin les Sorties -->

	<!-- Les Projets -->
	<div class="services" id="projets">
		<div class="container">
			<h3 class="animated wow fadeInDown animated" data-wow-duration="1200ms" data-wow-delay="500ms">
				LES PROJETS
			</h3>
			<p class="animated wow fadeInDown animated" data-wow-duration="1200ms" data-wow-delay="500ms">
				Nous proposons de nombreux projets, tous différents les uns des autres, pour que nos tutorés découvrent de nouveaux horizons et brisent la routine, en tissant aussi des liens forts avec les tuteurs. À la carte, des voyages dans de grandes villes françaises et européennes, des stages artistiques, un séjour linguistique à Londres ou encore un stage d'acclimatation aux classes préparatoires.
			</p>
		</div>
		<div class="services-bottom">

			<!-- Focus Europe -->
			<div class="col-md-5 services-left wow fadeInLeft animated" data-wow-delay=".5s">
				{% image '@CECSiteVitrineBundle/Resources/public/images/projets-focus-europe.jpg' %}
				<img src="{{ asset_url }}" alt="" class="img-responsive  services-images"/>
				{% endimage %}
			</div>
			<div class="col-md-7 services-right wow fadeInRight animated" data-wow-delay=".5s">
				<h4>FOCUS EUROPE</h4>
				<p>
					Tous les ans en Avril, 60 lycéens partent découvrir une capitale européenne pendant 5 jours. C’est l’opportunité unique d’aller à la rencontre d’un nouveau pays et de son histoire, d’un nouveau mode de vie, d’une nouvelle culture. Ce séjour se partage entre visites de musées, d’églises, de parcs et autres bâtiments réputés mais aussi un jeu de piste pour parcourir la ville sous un autre angle, du temps libre et des repas typiques de la ville !
				</p>
			</div>
			<div class="clearfix"></div>

			<!-- GML -->
			<div class="col-md-7 services-right-bis wow fadeInLeft animated" data-wow-delay=".5s">
				<h4>GOOD MORNING LONDON</h4>
				<p>
					Good Morning London, ou plus simplement GML, est un voyage linguistique de dix jours à Londres. Une occasion unique de t’immerger dans la culture anglaise et découvrir ses richesses tout en travaillant ton anglais de manière ludique et appliquée autour du thème du journalisme. Au programme : visites, séances d’anglais type tutorat pour progresser à l’oral, jeu de piste mémorable, balades dans les quartiers comme Camden, Chinatown, ou Oxford Street et Westminster, et plein d’autres surprises ! Guette les inscriptions et viens vivre l’expérience GML !
				</p>
			</div>
			<div class="col-md-5 services-left wow fadeInRight animated" data-wow-delay=".5s">
				{% image '@CECSiteVitrineBundle/Resources/public/images/projets-gml.jpg' %}
				<img src="{{ asset_url }}" alt="" class="img-responsive services-images-bis"/>
				{% endimage %}
			</div>

			<div class="clearfix"></div>

			<!-- Stage Théâtre -->
			<div class="col-md-5 services-left wow fadeInLeft animated" data-wow-delay=".5s">
				{% image '@CECSiteVitrineBundle/Resources/public/images/projets-stage-theatre.jpg' %}
				<img src="{{ asset_url }}" alt="" class="img-responsive services-images"/>
				{% endimage %}
			</div>
			<div class="col-md-7 services-right wow fadeInRight animated" data-wow-delay=".5s">
				<h4>STAGE THÉÂTRE</h4>
				<p>
					Afin de leur faire découvrir le monde du théâtre mais aussi développer leur aisance à l’oral, une équipe de tuteurs organise un stage pendant trois jours sur notre campus en Octobre. Des professionnels du théâtre viennent encadrer les lycéens sur scène et leur apprendre de l’écriture au jeu, de l’entraînement à la représentation, du rôle de spectateur à celui d’acteur, du texte à l’improvisation ! Le tout pour présenter leur pièce de théâtre aux parents à la fin du stage !
				</p>
			</div>
			<div class="clearfix"></div>

			<!-- Oser la Prépa -->
			<div class="col-md-7 services-right-bis wow fadeInLeft animated" data-wow-delay=".5s">
				<h4>OSER LA PRÉPA</h4>
				<p>
					Oser la Prépa est un stage d’acclimatation à l’univers des classes préparatoires scientifiques. Proposé à une vingtaine de nos lycéens de terminale, il se déroule pendant deux semaines à CentraleSupélec. L’emploi du temps comprend une soixantaine d’heures de cours et travaux dirigés, des colles, des devoirs surveillés, une visite des oraux de concours... Et parce qu'un rythme de vie sain est primordial en classes préparatoires, de nombreux moments de détente avec les tuteurs sont aussi proposés ! Si tu t’embarques dans l’aventure des classes préparatoires, n’hésite plus et viens oser la prépa avec nous !
				</p>
			</div>
			<div class="col-md-5 services-left wow fadeInRight animated" data-wow-delay=".5s">
				{% image '@CECSiteVitrineBundle/Resources/public/images/projets-oser-la-prepa.jpg' %}
				<img src="{{ asset_url }}" alt="" class="img-responsive services-images-bis"/>
				{% endimage %}
			</div>

			<div class="clearfix"></div>

			<!-- (Art)ccessible -->
			<div class="col-md-5 services-left wow fadeInLeft animated" data-wow-delay=".5s">
				{% image '@CECSiteVitrineBundle/Resources/public/images/projets-artccessible.jpg' %}
				<img src="{{ asset_url }}" alt="" class="img-responsive services-images"/>
				{% endimage %}
			</div>
			<div class="col-md-7 services-right wow fadeInRight animated" data-wow-delay=".5s">
				<h4>(ART)CCESSIBLE</h4>
				<p>
					Pendant 3 jours, les lycéens intéressés ont l’opportunité de découvrir différentes formes d’art : musique, peinture, sculpture, danse, cuisine, street art, magie, cinéma... Un vrai weekend de découvertes avec un vernissage des créations des tutorés à la fin où tous les parents sont invités !
				</p>
			</div>
			<div class="clearfix"></div>

			<!-- Carnets de France -->
			<div class="col-md-7 services-right-bis wow fadeInLeft animated" data-wow-delay=".5s">
				<h4>CARNETS DE FRANCE</h4>
				<p>
					Pendant quatre jours, les lycéens partent à la découverte d’une grande ville française afin d’en découvrir le patrimoine, l’histoire et la culture locale. Grâce aux activités organisées par les tuteurs, l’apport culturel aux tutorés est maximal, toujours dans la bonne humeur ! Viens toi aussi écrire une nouvelle page dans les Carnets de France !
				</p>
			</div>
			<div class="col-md-5 services-left wow fadeInRight animated" data-wow-delay=".5s">
				{% image '@CECSiteVitrineBundle/Resources/public/images/projets-carnets-de-france.jpg' %}
				<img src="{{ asset_url }}" alt="" class="img-responsive services-images-bis"/>
				{% endimage %}
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- Fin projets -->

	<!-- Partenaires -->

	<div class="services" id="partners">
		<div class="container">
			<h3 class="animated wow fadeInDown animated" data-wow-duration="1200ms" data-wow-delay="500ms">
				NOS PARTENAIRES
			</h3>
			<p class="animated wow fadeInDown animated" data-wow-duration="1200ms" data-wow-delay="500ms">
				Nous sommes fiers de compter parmi nos partenaires <a href="https://www.akoyaconsulting.com">Akoya Consulting</a>. Merci à eux pour tout leur soutien.
			</p>

			<div class="row animated wow fadeInLeft animated" data-wow-duration="1200ms" data-wow-delay="500ms">
				<a href="http://www.akoyaconsulting.com" title="Akoya Consulting (site web)">
					{% image '@CECSiteVitrineBundle/Resources/public/images/partenaires-akoya.png' %}
					<img src="{{ asset_url }}" alt="Logo Akoya" class="img-responsive partner-img bigger"/>
					{% endimage %}
				</a>
			</div>

			<p class="animated wow fadeInDown animated" data-wow-duration="1200ms" data-wow-delay="500ms">
				L'action d'OSER est en partie financée par des organismes de subventions départementaux et régionaux.
			</p>

			<div class="row">
				<div class="text-center animated wow fadeInRight animated" data-wow-duration="1200ms" data-wow-delay="500ms">
					<a href="https://www.iledefrance.fr" title="Région Ile-de-France (site web)">
						{% image '@CECSiteVitrineBundle/Resources/public/images/partenaires-ridf.png' %}
						<img src="{{ asset_url }}" alt="Logo Région Ile-de-France" class="img-responsive partner-img"/>
						{% endimage %}
					</a>

					<a href="http://www.cget.gouv.fr" title="CGET (site web)">
						{% image '@CECSiteVitrineBundle/Resources/public/images/partenaires-cget.png' %}
						<img src="{{ asset_url }}" alt="Logo CGET" class="img-responsive partner-img"/>
						{% endimage %}
					</a>

					<a href="http://www.ac-versailles.fr" title="Académie de Versailles (site web)">
						{% image '@CECSiteVitrineBundle/Resources/public/images/partenaires-rectorat.png' %}
						<img src="{{ asset_url }}" alt="Logo Rectorat de Versailles" class="img-responsive partner-img"/>
						{% endimage %}
					</a>
				</div>
			</div>
		</div>
	</div>

	<!--- contact ---->
	<div class="contact" id="contact">
		<div class="container">
			<h3 class="animated wow fadeInDown animated" data-wow-duration="1200ms" data-wow-delay="500ms">CONTACT</h3>
			<p class="animated wow fadeInDown animated" data-wow-duration="1200ms" data-wow-delay="500ms">
				Vous pouvez nous joindre par mail en <a href="mailto:oser.contact@ml.viarezo.fr">cliquant ici</a>. <br>
				Nous sommes aussi présents sur <a href="https://www.facebook/OSERCentraleSupélec">Facebook (OSERCentraleSupélec)</a> et <a href="https://twitter.com/OSER_CS">Twitter (@OSER_CS)</a> :  n'hésitez pas à nous envoyer un message !
			</p>
			<div class="contact-bottom">
				<div class="row">
					<div class="text-center wow fadeInUp animated" data-wow-duration="1200ms" data-wow-delay="500ms">
						<a href="https://www.facebook.com/OSERCentraleSupelec/" title="OSERCentraleSupelec (Facebook)">
							{% image '@CECSiteVitrineBundle/Resources/public/images/icon-facebook.png' %}
							<img src="{{ asset_url }}" alt="" class="img-responsive contact-images"/>
							{% endimage %}
						</a>
						<a href = "https://twitter.com/OSER_CS" title="@OSER_CS (Twitter)">
							{% image '@CECSiteVitrineBundle/Resources/public/images/icon-twitter.png' %}
							<img src="{{ asset_url }}" alt="" class="img-responsive contact-images"/>
							{% endimage %}
						</a>
					</div>
				</div>
			</div>
			<div class="row">
				<hr>
				<div class="text-center wow fadeInDown animated" data-wow-duration="1200ms" data-wow-delay="500ms">
					<p class="text-muted small">
						<em>Crédits photos : <a href="https://galerie.pics">PICS</a>.</em>
						<br>
						© <script type="text/javascript">
							var d = new Date()
							document.write(d.getFullYear())
						</script> OSER
					</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
