{% extends 'CECTutoratBundle:Lycees:base.html.twig' %}

{% block right %}

	<h2> Tableau récapitulatif des présences en séances de tutorat du lycée {{lycee.nom|trim('Lycée')}}</h2>

{# On calcule le nombre de colonnes max pour appliquer le bon colspan au tableau #}
{% set colMax = 0 %}
{% for anneeScolaire in anneesScolaires %}
	{% for groupe in lycee.groupes %}
		{% set seancesAnnee = 0 %}
		{% for seance in groupe.seances %}
			{% if anneeScolaire.contientDate(seance.date) %}
				{% set seancesAnnee = seancesAnnee + 1 %}
			{% endif %}
		{% endfor %}
		{% if seancesAnnee > colMax %}
			{% set colMax = seancesAnnee %}
		{% endif %}
	{% endfor %}
{% endfor %}

	<table class="table table-bordered table-hover table-striped">
		{% for anneeScolaire in anneesScolaires%}
			<thead>
				<tr >
					<th colspan="{{colMax+1}}"><span class="text-center"> {{anneeScolaire}} </span></th>
				</tr>
			</thead>
			<tbody>
			{% for groupe in lycee.groupes %}
				<tr>
					<th colspan="{{colMax+1}}" class="text-center">
						<a href="{{path('groupe', {'groupe' : groupe.id } ) }}"> {{groupe}} </a>
					</th>
				</tr>
				<tr>
					<th> Lycéens </th>
				{% for seance in groupe.seances %}
					{% if anneeScolaire.contientDate(seance.date) %}
						<th>
							<a href="{{ path('seance', {'seance' : seance.id} ) }}" style="font-size:0.9em">
								{{ seance.date|date('d')}}<br/>
								{{moisCourts[seance.date|date('n')]}}
							</a>
						</th>
					{% endif %}
				{% endfor %}
				{% set seancesAnnee = 0 %}
				{% for seance in groupe.seances %}
					{% if anneeScolaire.contientDate(seance.date) %}
						{% set seancesAnnee = seancesAnnee + 1 %}
					{% endif %}
				{% endfor %}
				{% if seancesAnnee != colMax %}
					<td colspan="{{colMax - seancesAnnee }}" class="muted"> Pas d'autres séances </td>
				{% endif %}
				</tr>
				{% for groupeLyceen in groupe.lyceensParAnnee %}
					{% if groupeLyceen.anneeScolaire == anneeScolaire %}
						<tr>
							<td>
								<a href="{{ path('voir_eleve', {'id' : groupeLyceen.lyceen.id } ) }}">
									{{groupeLyceen.lyceen.prenom}} {{ groupeLyceen.lyceen.nom}}
								</a>
							</td>
							{% for seance in groupe.seances %}
								{% if anneeScolaire.contientDate(seance.date) %}
									{% if seance in groupeLyceen.lyceen.seances%}
										<td class="success">
											<span class="checkmark">&#10004;</span>
										</td>
									{% else %}
										<td class="error">
											<span class="checkmark">&#10008;</span>
										</td>
									{% endif %}
								{% endif %}
							{% endfor %}
						</tr>
					{% endif %}
				{% endfor %}
			</tbody>
			{% else %}
				<tr>
					<th class="muted"> Pas de groupe de tutorat actif pour cette année. </th>
				</tr>
			</thead>
			{% endfor %}
		{% endfor %}
	</table>

{% endblock %}
