{% extends 'CECMembreBundle:Membres:voirEleve.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@CECTutoratBundle/Resources/public/less/seances.less'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% set nbrSeances = 0 %}
{% for seancesParAnnee in seancesTotal %}
	{% for seance in seancesParAnnee %}
		{% if date(seance.date) < date() %}
			{% set nbrSeances = nbrSeances +1 %}
		{% endif %}
	{% endfor %}
{% endfor %}

{% block right %}

	<h2> Tableau récapitulatif des présences en séances de tutorat </h2>

	<table class="table table-bordered table-hover table-striped table-large">
		{% for anneeScolaire in anneesScolaires%}
			<thead>
				<tr>
					<th colspan="{{seancesTotal[anneeScolaire.afficherAnnees]|length +1}}"> {{anneeScolaire}}  <span class="count"> {{eleve.seances|length}} sur {{nbrSeances}}</th>
				</tr>
			</thead>
			<tbody>
				{% for seance in seancesTotal[anneeScolaire.afficherAnnees] %}
					{% if date(seance.date) < date() %}
						<tr>
							<td>
								<a href="{{ path('seance', { 'seance': seance.id }) }}">
	                        		<strong>{{ cycle(jours, seance.date|date('N')) }} {{ seance.date|date('j') }} {{ cycle(mois, seance.date|date('n')) }}</strong>
	                        	</a>
	                        </td>
	                        {% if seance in eleve.seances %}
	                        	<td class="success">
	                        		<span class="checkmark">&#10004;</span>
	                        	</td>
	                        {% else %}
	                        	<td class="error">
	                        		<span class="checkmark">&#10008;</span>
	                        	</td>
	                        {% endif %}
	                    </tr>
	                   {% endif %}
                {% else %}
                	<tr>
                		<td colspan="2" class="muted"> Pas de séance effectuée cette année </td>
                	</tr>
                {% endfor %}
            </tbody>
        {% endfor %}
    </table>
{% endblock %}
