{% extends 'CECTutoratBundle:Lycees:base.html.twig' %}

{% block right %}

	<h2> Tableau récapitulatif des présences en séances de tutorat </h2>

{# On calcule le nombre de colonnes max pour appliquer le bon colspan au tableau #}
{% set colMax = 0 %}
{% for anneeScolaire in anneesScolaires %}
	{% for groupe in lycee.groupes %}
		{% if groupe.seances|length > colMax %}
			{% set colMax = groupe.seances|length %}
		{% endif %}
	{% endfor %}
{% endfor %}
{% set colMax = colMax + 1 %}

	<table class="table table-bordered table-hover table-striped table-large">
		{% for anneeScolaire in anneesScolaires%}
			<thead>
				<tr >
					<th colspan="{{colMax}}"><span class="text-center"> {{anneeScolaire}} </span></th>
				</tr>
			</thead>
			<tbody>
			{% for groupe in lycee.groupes %}
				<tr>
					<th colspan="{{colMax}}" class="text-center">
						<a href="{{path('groupe', {'groupe' : groupe.id } ) }}"> {{groupe}} </a>
					</th>
				</tr>
				<tr>
					<th> Lycéens </th>
				{% for seance in groupe.seances %}
					<th>
						<a href="{{ path('seance', {'seance' : seance.id} ) }}">
							{{ seance.date|date('d\\/m')}}
						</a>
					</th>
				{% endfor %}
				{% if groupe.seances|length + 1 != colMax %}
					<td colspan="{{colMax - groupe.seances|length - 1}}" class="muted"> Pas d'autres séances </td>
				{% endif %}
				</tr>
				{% for groupeLyceen in groupe.lyceensParAnnee %}
					{% if groupeLyceen.anneeScolaire == anneeScolaire %}
						<tr>
							<td>
								<a href="{{ path('voir_eleve', {'id' : groupeLyceen.lyceen.id } ) }}">
									{{groupeLyceen.lyceen.prenom}} {{ groupeLyceen.lyceen.nom}}
								</a>
							</td>
							{% for seance in groupe.seances %}
								{% if seance in groupeLyceen.lyceen.seances%}
									<td class="success">
										<span class="checkmark">&#10004;</span>
									</td>
								{% else %}
									<td class="error">
										<span class="checkmark">&#10008;</span>
									</td>
								{% endif %}
							{% endfor %}
						</tr>
					{% endif %}
				{% endfor %}
			</tbody>
			{% else %}
				<tr>
					<th class="muted"> Pas de groupe de tutorat actif pour cette année. </th>
				</tr>
			</thead>
			{% endfor %}
		{% endfor %}
	</table>

{% endblock %}
