{% macro indisponible() %}
    <span class="muted" style="font-weight: normal; font-size: 90%;">(indisponible)</span>
{% endmacro %}
{% import _self as self %}

<table class="table table-bordered table-striped table-centered">
    <tbody>
        <tr><td></td></tr>
        <tr>
            <td class="date">
                {{ cycle(jours, seance.date|date('N'))|lower }}<br />
                <span class="jour">{{ seance.date|date('d') }}</span><br />
                <span class="mois">{{ cycle(mois, seance.date|date('m'))|lower }}</span>
            </td>
        </tr>
    </tbody>
</table>

<table class="table table-bordered table-striped table-centered">
    <tbody>
        <tr><td class="td-label">Rendez-vous</td></tr>
        <tr>
            <td class="td-content">
                {% if seance.rendezVous %}
                    {{ seance.rendezVous }}
                {% elseif seance.groupe is not null %}
                    {{ seance.groupe.rendezVous }}
                {% else %}
                    {{ self.indisponible() }}
                {% endif %}
            </td>
        </tr>
        <tr><td class="td-label">Pour la séance</td></tr>
        <tr>
            <td class="td-content">
                de
                {% if seance.debut %}
                    {{ seance.debut|date('G\\hi')}}
                {% elseif seance.groupe is not null %}
                    {{ seance.groupe.debut|date('G\\hi')}}
                {% else %}
                    {{ self.indisponible() }}
                {% endif %}
                
                à
                {% if seance.fin %}
                    {{ seance.fin|date('G\\hi') }}
                {% elseif seance.groupe is not null %}
                    {{ seance.groupe.fin|date('G\\hi') }}
                {% else %}
                    {{ self.indisponible() }}
                {% endif %}<br />
                
                {% if seance.lieu %}
                    {{ seance.lieu }}
                {% elseif seance.groupe is not null %}
                    {{ seance.groupe.lieu }}
                {% else %}
                    {{ self.indisponible() }}
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>

{% if seance.groupe is not null %}
<table class="table table-bordered table-striped table-centered">
    <tbody>
        <tr><td class="td-label">Groupe de tutorat</td></tr>
        <tr>
            <td class="td-content">
                {% for lycee in seance.groupe.lycees %}
                    <a href="{{ path('lycee', { 'lycee': lycee.id }) }}">{{ lycee.nom }}</a>
                    {% if not loop.last %}{{ '&' }} {% endif %}
                {% endfor %}<br />
                <a href="{{ path('groupe', { 'groupe': seance.groupe.id }) }}">
                    {{ seance.groupe.niveau }}
                </a>  
            </td>
        </tr>
        <tr>
            <td class="td-content">
                <a href="{{ path('afficher_le_planning', { 'groupe': seance.groupe.id }) }}" class="btn btn-default btn-block">
                    Planning des séances
                </a>
            </td>
        </tr>
    </tbody>
</table>
{% endif %}
