<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a href="#" class="brand">CEC</a>
            <ul class="nav">
                <li class="active"><a href="#">Tableau de bord</a></li>
                {% if app.user.groupe %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Mon tutorat
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Prochaines séances</a></li>
                            <li class="divider"></li>
                            <li>
                                <a href="{{ path('groupe', { 'groupe': app.user.groupe.id }) }}">
                                    Mon groupe de tutorat
                                </a>
                            </li>
                            {% for lycee in app.user.groupe.lycees %}
                                <li>
                                    <a href="{{ path('lycee', { 'lycee': lycee.id }) }}">
                                        {{lycee.nom }}
                                    </a>
                                </li>
                            {% endfor %}
                            <li class="divider"></li>
                            <li><a href="#">Écrire le compte-rendu</a></li>
                            <li><a href="#">Choisir une activité</a></li>
                        </ul>
                    </li>
                {% endif %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Mes secteurs
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="secteur">Secteur Fundraising</li>
                        <li><a href="#">Statistiques</a></li>
                        <li class="divider"></li>
                        <li class="secteur">Secteur Actis</li>
                        <li><a href="#">Nouvelle activité</a></li>
                        <li><a href="#">Consulter les activités</a></li>
                        <li><a href="#">Consulter les comptes-rendus</a></li>
                        <li class="divider"></li>
                        <li class="secteur">Buro</li>
                        <li><a href="#">Planning des séances</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Données
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Liste des activités</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('tous_lycees') }}">Liste des lycées</a></li>
                        <li><a href="{{ path('tous_lyceens') }}">Liste des lycéens</a></li>
                        <li><a href="{{ path('tous_membres') }}">Liste des membres</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('tous_enseignants') }}">Liste des enseignants</a></li>
                        <li><a href="{{ path('tous_groupes') }}">Liste des groupes de tutorat</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('toutes_seances') }}">Planning des séances</a></li>
                    </ul>
                </li>
            </ul>
            <div class="btn-group pull-right">
                <a class="btn btn-primary" href="{{ path('membre') }}">
                    {{ app.user.username }}
                </a>
                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('reglages_profil') }}">Modifier mon profil</a></li>
                    <li><a href="{{ path('reglages_groupes_de_tutorat') }}">Mes groupes de tutorat</a></li>
                    <li><a href="{{ path('reglages_secteurs') }}">Mes secteurs</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ path('deconnexion') }}">Se déconnecter</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
