<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a href="{{ path('cec_membre_tableaudebord_voir') }}" class="brand">CEC</a>
            <ul class="nav">
                <li><a href="{{ path('cec_membre_tableaudebord_voir') }}">Tableau de bord</a></li>
                {% if membre.groupe %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Mon tutorat
                            {% if seance_a_venir and seance_a_venir.compteRendus is empty %}
                                <span class="badge badge-warning" style="margin-left: 5px;">1</span>
                            {% endif %}
                            {% if cr_a_rediger is not empty %}
                                <span class="badge badge-important"{{ not seance_a_venir or seance_a_venir.compteRendus is not empty ? ' style="margin-left: 5px;"' }}>{{ cr_a_rediger|length }}</span>
                            {% endif %}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            {% if seance_a_venir %}
                                <li><a href="{{ path('seance', { 'seance': seance_a_venir.id }) }}">
                                    Ma prochaine séance
                                    {% if seance_a_venir.compteRendus is empty %}
                                        <span class="badge badge-warning" style="margin-left: 10px;">1</span>
                                    {% endif %}
                                </a></li>
                                {% if seance_a_venir.compteRendus is empty %}
                                    <li><a href="{{ path('cec_activite_activites_rechercher') }}">Choisir une activité</a></li>
                                {% endif %}
                                <li class="divider"></li>
                            {% endif %}
                            <li>
                                <a href="{{ path('groupe', { 'groupe': app.user.groupe.id }) }}">
                                    Mon groupe de tutorat
                                </a>
                            </li>
                            {% for lycee in membre.groupe.lycees %}
                                <li>
                                    <a href="{{ path('lycee', { 'lycee': lycee.id }) }}">
                                        Mon lycée {{ lycee.nom|trim('Lycée') }}
                                    </a>
                                </li>
                            {% endfor %}
                            {% if membre.groupe and cr_a_rediger is not empty %}
                                <li class="divider"></li>
                                <li><a href="{{ path('cec_activite_compterendus_arediger', { 'groupe' : membre.groupe.id }) }}">
                                    Compte-rendus à rédiger
                                    <span class="badge badge-important" style="margin-left: 10px;">{{ cr_a_rediger|length }}</span>
                                </a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Mes secteurs
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        {% if is_granted('ROLE_SECTEUR_ACTIVITES_SCIENTIFIQUES') 
                                or is_granted('ROLE_SECTEUR_ACTIVITES_CULTURELLES')
                                or is_granted('ROLE_BURO') %}
                            <li class="secteur">Secteurs Activités</li>
                            <li><a href="{{ path('cec_activite_activites_rechercher') }}">Liste des activités</a></li>
                            <li><a href="{{ path('cec_activite_compterendus_recents') }}">Consulter les comptes-rendus</a></li>
                            <li><a href="{{ path('cec_activite_activites_creer') }}">Rédiger une nouvelle activité</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_SECTEUR_PROJETS') or is_granted('ROLE_BURO') %}
                            <li class="secteur">Secteur Projets</li>
                            <li><a href="{{ path('toutes_seances') }}">Planning des séances</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_SECTEUR_SORTIES') or is_granted('ROLE_BURO') %}
                            <li class="secteur">Secteur Sorties</li>
                            <li><a href="{{ path('toutes_seances') }}">Planning des séances</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_SECTEUR_EVENEMENTS') or is_granted('ROLE_BURO') %}
                            <li class="secteur">Secteur Événements</li>
                            <li><a href="{{ path('toutes_seances') }}">Planning des séances</a></li>
                        {% if is_granted('ROLE_SECTEUR_FUNDRAISING') or is_granted('ROLE_BURO') %}
                            <li class="secteur">Secteur Fundraising</li>
                            <li><a href="{{ path('cec_secteurfundraising_statistiques_voir') }}">Statistiques de l'association</a></li>
                        {% endif %}
                        {% endif %}
                        {% if is_granted('ROLE_BURO') %}
                            <li class="secteur">Buro</li>
                            <li><a href="{{ path('cec_membre_membres_tous') }}">Gestion des membres</a></li>
                            <li><a href="{{ path('cec_membre_membres_passations') }}">Passation et gestion du buro</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Données
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('toutes_seances') }}">Planning des séances</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('tous_lycees') }}">Liste des lycées</a></li>
                        <li><a href="{{ path('tous_lyceens') }}">Liste des lycéens</a></li>
                        <li><a href="{{ path('cec_membre_membres_tous') }}">Liste des membres</a></li>
                        <li><a href="{{ path('tous_enseignants') }}">Liste des enseignants</a></li>
                        <li><a href="{{ path('tous_groupes') }}">Liste des groupes de tutorat</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('cec_activite_activites_rechercher') }}">Liste des activités</a></li>
                        <li><a href="{{ path('cec_activite_activites_creer') }}">Rédiger une nouvelle activité</a></li>
                        <li class="divider"></li>
                        <li><a href="http://cec-ecp.com/wiki">WikiDesChances</a></li>
                    </ul>
                </li>
            </ul>
            <div class="btn-group pull-right">
                <a class="btn btn-inverse" href="{{ path('cec_membre_membres_voir', { 'membre' : membre.id }) }}">
                    {{ membre.username }}
                </a>
                <a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('cec_membre_reglages_infos') }}">Modifier mon profil</a></li>
                    <li><a href="{{ path('cec_membre_reglages_groupe') }}">Modifier mon groupe</a></li>
                    <li><a href="{{ path('cec_membre_reglages_secteurs') }}">Modifier mes secteurs</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ path('deconnexion') }}">Se déconnecter</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
