<div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{path('cec_externe_accueil')}}">CEC</a>

        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="navbar-nav nav">
                <li><a href="{{ path('tableau_de_bord_eleve') }}">Tableau de bord</a></li>
                {% if eleve.groupe %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            Mon tutorat
                            {% if seance_a_venir %}
                                 <span class="badge badge-warning" style="margin-left: 5px;">1</span>
                            {% endif %}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            {% if seance_a_venir %}
                                <li><a href="{{path('seance', { 'seance': seance_a_venir.id}) }}">
                                    Ma prochaine séance
                                </a></li>
                                <li class="divider"></li>
                            {% endif %}
                            <li>
                                <a href="{{path('groupe', {'groupe' : eleve.groupe.id} ) }}">
                                    Mon groupe de tutorat
                                </a>
                            </li>
                            <li>
                                <a href="{{path('lycee', {'lycee' : eleve.lycee.id}) }}">
                                    Mon lycée {{eleve.lycee.nom|trim('Lycée') }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('toutes_seances') }}">
                                    Planning des séances
                                </a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
								Sorties & Projets
								<b class="caret"></b>
					 </a>
					<ul class="dropdown-menu">
                        <li><a href="{{ path('toutes_seances') }}">Planning</a></li>
                        <li><a href="{{ path('description_projets')}}">Pôle Projets</a></li>
						<li class="secteur">Les Projets</li>
						{% for projet in projets %}
                            <li><a href="{{ path('description_projet', {'slug' : projet.slug } ) }}"> {{projet.nom}}</a></li>
                        {% endfor %}
						<li class="secteur"> Les Sorties</li>
						<li><a href="{{path('sorties_eleve')}}">Liste des sorties</a></li>
					</ul>
				</li>
			</ul>
			
    		<div class="btn-group pull-right">
                    <a class="btn btn-default navbar-btn" href="{{ path('voir_eleve', { 'id' : eleve.id }) }}">
                        {{ eleve }}
                    </a>
                    <a class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('reglages_infos_eleve') }}">Modifier mon profil</a></li>
                        <li><a href="{{ path('reglages_groupe_eleve') }}"> Modifier mon groupe </a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('deconnexion') }}">Se déconnecter</a></li>
                    </ul>
    		</div>
		</div>
	</div>
</div>
