<div class="navbar navbar-default navbar-fixed-top ">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{path('cec_externe_accueil')}}" style="padding-top:0; padding-bottom:0;">
            <img alt"Logo CEC" src="{{asset('bundles/cecmain/images/logorond.png')}}" style="max-height:50px;"/>

          </a>

        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="navbar-nav nav">
                <li><a href="{{ path('tableau_de_bord_tuteur') }}">Tableau de bord</a></li>
                <li><a href="{{ path('afficher_le_planning') }}">Planning de l'association</a></li>
                {% if membre.groupe %}
                    <li class="dropdown">
                        <a data-target="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            Mon tutorat
                            {% if seance_a_venir and seance_a_venir.compteRendus is empty %}
                                <span class="badge" style="margin-left: 5px;">1</span>
                            {% endif %}
                            {% if cr_a_rediger != 0 %}
                                <span class="badge"{{ not seance_a_venir or seance_a_venir.compteRendus is not empty ? ' style="margin-left: 5px;"' }}>{{ cr_a_rediger }}</span>
                            {% endif %}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            {% if seance_a_venir %}
                                <li><a href="{{ path('seance', { 'seance': seance_a_venir.id }) }}">
                                    Ma prochaine séance
                                    {% if seance_a_venir.compteRendus is empty %}
                                        <span class="badge badge-warning" style="margin-left: 10px;">1</span>
                                    {% endif %}
                                </a></li>
                                {% if is_granted('ROLE_VP_LYCEE') %}
                                    <li><a href="{{ path('activites_rechercher') }}">Choisir une activité</a></li>
                                {% endif %}
                                <li class="divider"></li>
                            {% endif %}
                            <li>
                                <a href="{{ path('groupe', { 'groupe': app.user.groupe.id }) }}">
                                    Mon groupe de tutorat
                                </a>
                            </li>
                            {% for lycee in membre.groupe.lycees %}
                                <li>
                                    <a href="{{ path('lycee', { 'lycee': lycee.id }) }}">
                                        Mon lycée {{ lycee.nom|trim('Lycée') }}
                                    </a>
                                </li>
                            {% endfor %}
                            {% if membre.groupe and cr_a_rediger != 0 %}
                                <li class="divider"></li>
                                <li><a href="{{ path('groupe_compterendu_arediger', { 'groupe' : membre.groupe.id }) }}">
                                    Compte-rendus à rédiger
                                    <span class="badge" style="margin-left: 10px;">{{ cr_a_rediger }}</span>
                                </a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                {% if membre.secteurs is not empty or is_granted('ROLE_BURO') %}
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Mes secteurs
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="secteur">Secteurs Activités</li>
                        <li><a href="{{ path('activites_rechercher') }}">Liste des activités</a></li>
                            {% if is_granted('ROLE_SECTEUR_ACTIVITÉS_SCIENTIFIQUES')
                                or is_granted('ROLE_SECTEUR_ACTIVITÉS_CULTURELLES')
                                or is_granted('ROLE_BURO') %}
                           
                                <li><a href="{{ path('compterendus_recents') }}">Consulter les comptes-rendus</a></li>
                                <li><a href="{{ path('activites_creer') }}">Rédiger une nouvelle activité</a></li>
                            {% endif %}
                        <li><a href="{{ path('quizzActu') }}">Liste des quizz actu</a></li>
                        <li class="secteur">Secteur Projets</li>
                        <li><a href="{{ path('description_projets')}}">Pôle Projets</a></li>
                        {% for projet in projets %}
                            <li><a href="{{ path('description_projet', {'slug' : projet.slug } ) }}"> {{projet.nom}}</a></li>
                        {% endfor %}
                        <li class="secteur">Secteur Sorties</li>
                        <li><a href="{{ path('sorties') }}">Liste des sorties</a></li>
                        <li class="secteur">Secteur Événements</li>
                            {% if is_granted('ROLE_SECTEUR_EVCOM') %}
                                <li><a href="#">Créer un évènement </a></li>
                            {% endif %}
                        {% if is_granted('ROLE_SECTEUR_FUNDRAISING')  %}
                            <li class="secteur">Secteur Fundraising</li>
                            <li><a href="{{ path('stats_generales') }}">Statistiques de l'association</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% endif %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Données
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('tous_lycees') }}">Liste des lycées</a></li>
                        <li><a href="{{ path('tous_eleves') }}">Liste des lycéens</a></li>
                        <li><a href="{{ path('voir_tous_membres') }}">Liste des membres</a></li>
                        <li><a href="{{ path('tous_professeurs') }}">Liste des enseignants</a></li>
                        <li><a href="{{ path('tous_groupes') }}">Liste des groupes de tutorat</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('activites_rechercher') }}">Liste des activités</a></li>
                        <li><a href="{{ path('activites_creer') }}">Rédiger une nouvelle activité</a></li>
                        <li><a href="{{ path('quizzActu') }}">Liste des quizz actu</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('sorties') }}">Liste des sorties</a></li>
                        <li class="divider"></li>
                        <li><a href="http://cec-ecp.com/wiki">WikiDesChances</a></li>
                    </ul>
                </li>
                {% if is_granted('ROLE_BURO') %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Administration
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('voir_tous_membres') }}">Gestion des membres</a></li>
                        <li><a href="{{ path('passations') }}">Passation et gestion du buro</a></li>
                        <li><a href="{{ path('stats_generales') }}">Statistiques de l'association</a></li>
                        <li><a href="{{path('creer_projet') }}"> Créer un nouveau projet </a> </li>
                        <li><a href="{{path('creer_secteur') }} "> Gérer les secteurs </a> </li>
                    </ul>
                </li>
                {% endif %}
            </ul>

            <div class="btn-group pull-right">
                <a class="btn btn-default navbar-btn" href="{{ path('voir_membre', { 'membre' : membre.id }) }}">
                    {{ membre }}
                </a>
                <a class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false"><span class="caret"></span></a>
                <ul class="dropdown-menu">
                        <li><a href="{{ path('reglages_infos') }}">Modifier mon profil</a></li>
                        <li><a href="{{ path('reglages_groupe') }}">Modifier mon groupe</a></li>
                        <li><a href="{{ path('reglages_secteurs') }}">Modifier mes secteurs</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('deconnexion') }}">Se déconnecter</a></li>
                    </ul>
             </div>
        </div>
    </div>
</div>
