{% extends 'CECTutoratBundle:Groupes:base.html.twig' %}
{% import  'CECMainBundle::macros.html.twig' as modal %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{% block right %}
{{ parent() }}


<table class="table table-bordered table-hover table-striped table-large">
    {% if seances %}
        <thead>
            <tr>
                <th>
                    <h4>
                        Liste des séances aux compte-rendus incomplets
                </th>
            </tr>
        </thead>
        <tbody>
            {% for seance in seances %}
            <tr>
                <td>
                    <a href="{{ path('seance', { 'seance': seance.id }) }}">
                        <strong>{{ cycle(jours, seance.date|date('N')) }} {{ seance.date|date('j') }} {{ cycle(mois, seance.date|date('n')) }} à {{ (seance.debut ?: seance.groupe.debut)|date('G\\hi') }}</strong><br />
                        Séance pour les {{ seance.groupe.niveau|lower }}, {{ (seance.lieu ?: seance.groupe.lieu) }} (rendez-vous {{ (seance.rendezVous ?: seance.groupe.rendezVous) }})
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    {% else %}
        <thead><tr><th class="muted"><h4>Aucune CR de séance incomplet</h4></th></tr></thead>
    {% endif %}
</table>

{% endblock %}


