{% extends 'CECTutoratBundle:Groupes:base.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{% block right %}
{{ parent() }}

{% if groupe == app.user.groupe %}
{{ flash('info', 'Bienvenue sur la page de votre groupe de tutorat !') }}
{% endif %}

<div role="tabpanel">

    <ul class="nav nav-tabs" role="tablist">
        {% for anneeScolaire in anneesScolaires %}
            <li role="presentation" {% if loop.first %}class="active"{% endif %}><a data-target="#{{anneeScolaire.afficherAnnees}}" aria-controls="{{anneeScolaire.afficherAnnees}}" role="tab" data-toggle="tab">{{anneeScolaire.AfficherAnnees}}</a></li>
        {% endfor %}
    </ul>

    <div class="tab-content" {#style="border-left: 1px solid #DDD;border-right: 1px solid #DDD;border-bottom: 1px solid #DDD;border-bottom-left-radius:5px;border-bottom-right-radius:5px;padding:10px;margin-top:-20px; margin-bottom:20px;"#}>
        {% for anneeScolaire in anneesScolaires %}
            <div role="tabpanel" class="tab-pane fade {% if loop.first %}in active{% endif %}" id="{{anneeScolaire.afficherAnnees}}">
                <table class="table table-bordered table-hover table-striped table-large">
                    {% if groupe.lyceensParAnnee %}
                        {% set lyceens = groupe.lyceensParAnnee %}
                        <thead><tr><th><h4>Lycéens <span class="count">{{ groupe.lyceensAnnee(anneeScolaire)|length }}</span></h4></th></tr></thead>
                        <tbody>
                            {% for Groupelyceen in lyceens %}
                                {% if Groupelyceen.anneeScolaire == anneeScolaire %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('voir_eleve', { 'id': Groupelyceen.lyceen.id }) }}">
                                                <strong>{{ Groupelyceen.lyceen.prenom }} {{ Groupelyceen.lyceen.nom }}</strong>
                                            </a>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    {% else %}
                        <thead><tr><th class="muted"><h4>Aucun lycéen pour ce groupe de tutorat</h4></th></tr></thead>
                    {% endif %}
                </table>

                <table class="table table-bordered table-hover table-condensed table-striped table-large">
                    {% if groupe.tuteursParAnnee %}
                        {% set tuteurs = groupe.tuteursParAnnee %}
                        <thead><tr><th><h4>Tuteurs<span class="count">{{ groupe.tuteursAnnee(anneeScolaire)|length }}</span></h4></th></tr></thead>
                        <tbody>
                            {% for Groupetuteur in tuteurs %}
                                {% if Groupetuteur.anneeScolaire == anneeScolaire %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('voir_membre', { 'membre': Groupetuteur.tuteur.id }) }}">
                                                <strong>{{ Groupetuteur.tuteur.prenom }} {{ Groupetuteur.tuteur.nom }}</strong>
                                            </a>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    {% else %}
                        <thead><tr><th class="muted"><h4>Aucun tuteur pour ce groupe de tutorat</h4></th></tr></thead>
                    {% endif %}
                </table>
            </div>
        {% endfor %}
    </div>
</div>

    <a href="{{ path('groupe_liste_seances', {'groupeid' : groupe.id }) }}" class="btn btn-default btn-block">Afficher la liste des séances de tutorat</a>

<table class="table table-bordered table-hover table-striped table-large">
    <thead>
        <tr>
            <th>
                <h4>
                    Prochaines séances de tutorat
                    <a href="{{ path('afficher_le_planning', { 'groupe': groupe.id }) }}" class="btn btn-default btn-small pull-right">
                        Planning des séances
                    </a>
                </h4>
            </th>
        </tr>
    </thead>
    {% if seances %}
        <tbody>
            {% for seance in seances %}
            <tr>
                <td>
                    <a href="{{ path('seance', { 'seance': seance.id }) }}">
                        <strong>{{ cycle(jours, seance.date|date('N')) }} {{ seance.date|date('j') }} {{ cycle(mois, seance.date|date('n')) }} à {{ (seance.debut ?: seance.groupe.debut)|date('G\\hi') }}</strong><br />
                        Séance pour les {{ seance.groupe.niveau|lower }}, {{ (seance.lieu ?: seance.groupe.lieu) }} (rendez-vous {{ (seance.rendezVous ?: seance.groupe.rendezVous) }})
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    {% else %}
        <tbody><tr><th class="muted"><h4>Aucune séance de tutorat à venir pour ce groupe de tutorat</h4></th></tr></tbody>
    {% endif %}
    {% if (is_granted('ROLE_VP_LYCEE') and groupe == app.user.groupe) or is_granted('ROLE_BURO') %}
    <tbody>
        <tr>
            <td class="ajout">
                <a href="{{ path('creer_seance', {'groupe' : groupe.id }) }}" class="btn btn-default btn-block">Créer une séance de tutorat</a>
            </td>
        </tr>
    </tbody>
    {% endif %}
</table>
{% endblock %}
