<div class="well">
    <ul class="nav nav-list">
        <li
            {% if request.attributes.get('_route') == 'toutes_cordees' %}
                class="active"
            {% endif %}
            >
                <a href="{{ path('toutes_cordees') }}" class="tous_lycees">Tous les lycées</a>
        </li>
        
        {% if cordees_actives %}<li class="nav-header">Cordées de la réussite</li>{% endif %}
        {% for cordee in cordees_actives %}
            <li 
                {% if request.attributes.get('cordee') == cordee.id %}
                    class="active"
                {% endif %}
                >
                    <a href="{{ path('cordee', { 'cordee' : cordee.id }) }}">{{ cordee.nom }}</a>
            </li>
        {% endfor %}
        
        <li class="nav-header">Anciens partenariats</li>
        <li
            {% if request.attributes.get('_route') == 'anciennes_cordees' %}
                class="active"
            {% endif %}
            >
                <a href="{{ path('anciennes_cordees') }}">Anciens lycées partenaires</a>
        </li>
        {% for cordee in cordees_mortes %}
            <li 
                {% if request.attributes.get('cordee') == cordee.id %}
                    class="active"
                {% endif %}
                >
                    <a href="{{ path('cordee', { 'cordee' : cordee.id }) }}">{{ cordee.nom }}</a>
            </li>
        {% endfor %}
    </ul>
</div>

{% if request.attributes.get('_route') == 'cordee' %}
    <a href="{{ path('editer_cordee', { 'cordee': request.attributes.get('cordee') }) }}" class="btn btn-block">Éditer la cordée</a>
{% endif %}
