{% extends 'CECTutoratBundle:Cordees:base.html.twig' %}
{% import 'CECMainBundle::macros.html.twig' as modal %}

{% block right %}
{{ parent() }}

<h2>{{ cordee.nom|default('Tous les lycées') }}</h2>

<table class="table table-bordered table-hover table-striped table-large">
    {% if sources %}
        <thead><tr><th><h4>Lycées Sources</h4></th></tr></thead>
        <tbody>
            {% for lycee in sources %}
            <tr>
                <td>
                    {% if app.request.attributes.get('_route') == 'toutes_cordees' %}
                        <a href="{{ path('cordee', { 'cordee' : lycee.cordee.id }) }}" class="label pull-right">
                            {{ lycee.cordee.nom }}
                        </a>
                    {% endif %}
                    
                    <a href="{{ path('lycee', { 'lycee' : lycee.id }) }}">
                        {% include 'CECTutoratBundle::lycee.html.twig' with { 'lycee' : lycee } %}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    {% else %}
        <thead><tr><th class="muted"><h4>Aucun lycée source</h4></th></tr></thead>
    {% endif %}
</table>

<table class="table table-bordered table-hover table-striped table-large">
    {% if pivots %}
        <thead><tr><th><h4>Lycées Pivots</h4></th></tr></thead>
        <tbody>
            {% for lycee in pivots %}
            <tr>
                <td>
                    {% if app.request.attributes.get('_route') == 'toutes_cordees' %}
                        <a href="{{ path('cordee', { 'cordee' : lycee.cordee.id }) }}" class="label pull-right">
                            {{ lycee.cordee.nom }}
                        </a>
                    {% endif %}
                    
                    <a href="{{ path('lycee', { 'lycee' : lycee.id }) }}">
                        {% include 'CECTutoratBundle::lycee.html.twig' with { 'lycee' : lycee } %}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    {% else %}
        <thead><tr><th class="muted"><h4>Aucun lycée pivot</h4></th></tr></thead>
    {% endif %}
</table>

{% endblock %}


{% block left %}
{{ parent() }}

{% if (app.request.attributes.get('_route') == 'toutes_cordees' or  app.request.attributes.get('_route') == 'tous_lycees') and is_granted('ROLE_BURO') %}
    {{ modal.button('Ajouter une cordée', 'btn btn-default btn-block') }}
{% endif %}

{% endblock %}

{% block modals %}
{{ parent() }}
{% if app.request.attributes.get('_route') == 'toutes_cordees' or  app.request.attributes.get('_route') == 'tous_lycees' %}
    {% set body %}
        <span class="help-block">Entrez un nom de cordée, préfixé par "Cordée".<br />
        En cliquant sur Ajouter, vous pourrez ajouter des lycées partenaires à la cordée.</span>
        {{ form_widget(form) }}
    {% endset %}
    {% set footer %}
        <input type="submit" value="Ajouter une cordée" class="btn btn-primary pull-right" />
        {{ modal.close() }}
    {% endset %}
    
    <form method="post" action="{{ path(app.request.attributes.get('_route')) }}">
        {{ modal.modal('Ajouter une cordée', body, footer) }}
    </form>
{% endif %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% if app.request.attributes.get('_route') == 'toutes_cordees' or  app.request.attributes.get('_route') == 'tous_lycees' %}
    {% if afficher_modal|default(false) %}
        <script type="text/javascript">
            $('#modal').modal('show');
        </script>
    {% endif %}
{% endif %}
{% endblock %}
