{% extends 'CECActiviteBundle:Activites:base.html.twig' %}

{% from 'CECActiviteBundle::compte_rendu.html.twig' import note as note %}
{% from 'CECActiviteBundle::compte_rendu.html.twig' import duree as duree %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}
{% import 'CECMainBundle::macros.html.twig' as modal %}


{% block left %}

    <table class="table table-bordered table-form">
        <thead>
            <tr><th class="edition"></th></tr>
            <tr><th class="titre titre-edition">
                <h3>
                    Édition de l'activité<br />
                    {{ activite.titre }}
                </h3>
            </th></tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <form class="form" method="post" action="{{ path('cec_activite_activites_editer', { 'activite': activite.id }) }}">
                        {{ form_widget(activite_form) }}
                        
                        <input type="submit" name="sumbit" class="btn btn-block btn-primary btn-large" value="Enregistrer les modifications" />
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    
{% endblock %}

{% block right %}
{{ parent() }}

    <form method="post" action="{{ path('cec_activite_documents_ajouter', { 'activite' : activite.id }) }}" {{ form_enctype(document_form) }}>
        <table class="table table-bordered table-striped table-large">
            <thead><tr><th colspan="2"><h4>Téléchargement d'une nouvelle version</h4></th></tr></thead>
            <tbody>
                <tr>
                    <td class="file"><strong>Document original</strong>{{ form_row(document_form.fichierOriginal) }}</td>
                    <td class="file"><strong>Fichier PDF</strong>{{ form_row(document_form.fichierPDF) }}</td>
                </tr>
                <tr><td colspan="2">{{ form_row(document_form.description) }}</td></tr>
                <tr>
                    <td colspan="2">
                        {{ form_rest(document_form) }}
                        <input type="submit" name="Télécharger" class="btn btn-large btn-block btn-success" value="Télécharger la nouvelle version" style="margin-top: 0;" />
                    </td>
                </tr>
            </tbody>
        </table>
    </form>

    <table class="table table-bordered table-hover table-striped table-large">
        {% if versions_triees|length > 0 %}
            <thead><tr><th><h4>Gestion des versions<span class="count">{{ versions_triees|length }}</span></h4></th></tr></thead>
            <tbody>
                {% for version in versions_triees %}
                <tr>
                    <td>
                        <div class="pull-right">
                            <div class="btn-group">
                                <a href="{{ version.cheminPDF }}" class="btn btn-mini">Télécharger</a>
                                <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ version.cheminPDF }}">Télécharger le fichier PDF</a></li>
                                    <li><a href="{{ version.cheminOriginal }}">Télécharger le document original</a></li>
                                </ul>
                            </div>
                            <a href="{{ path('cec_activite_documents_supprimer', { 'activite' : activite.id, 'document' : version.id }) }}" class="btn btn-danger btn-mini">Supprimer la version</a>
                        </div>
                        
                        
                        <strong>Version du {{ version.dateCreation|date('d/m/Y') }}</strong><br />
                        {% if version.description %}
                            {{ version.description }}
                        {% else %}
                            <span class="muted">Aucun historique de version.</span> 
                        {% endif %}
                        <span class="muted">— <a href="{{ path('membre', { 'membre' : version.auteur.id }) }}" class="muted">{{ version.auteur }}</a></span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        {% else %}
            <thead><tr><th class="muted"><h4>Aucune version de l'activité disponible !</h4></th></tr></thead>
        {% endif %}
    </table>

    {{ modal.button('Supprimer l\'activité', 'btn btn-block btn-danger btn-large') }}
    
{% endblock %}

{% block modals %}
{{ parent() }}

    {% set body %}
        <p>Vous êtes sur le point de supprimer définitivement l'activité "<strong>{{ activite.titre }}</strong>", ainsi que tous les documents associés :</p>
            <ul>
                <li>Historique des versions ;</li>
                <li>Compte-rendus.</li>
            </ul>
        <p>Aucun tuteur ne pourra donc plus accéder à ces informations et les secteurs Activités n'aura plus trace de ces fichiers.</p>
        <p>Êtes-vous certain de vouloir supprimer l'activité ?</p>
    {% endset %}
    
    {% set footer %}
        <a href="{{ path('cec_activite_activites_supprimer', {'activite': activite.id}) }}" class="btn btn-primary btn-danger pull-right">Supprimer l'activité</a>
        {{ modal.close() }}
    {% endset %}
    
    {{ modal.modal('Supprimer l\'activité', body, footer) }}

{% endblock %}
