{% extends 'CECActiviteBundle:Activites:base.html.twig' %}

{% from 'CECActiviteBundle::compte_rendu.html.twig' import note as note %}
{% from 'CECActiviteBundle::compte_rendu.html.twig' import duree as duree %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}


{% block left %}
    <table class="table table-bordered table-striped table-hover table-collapse">
        <thead>
            <tr>
                <th colspan="2" class="titre">
                    <h3>
                        <span style="font-weight: normal; font-size: 90%;">{{ activite.type }}</span><br />
                        {{ activite.titre }}
                    </h3>
                </th>
            </tr>
            <tr><th colspan="2" class="titre">
                <span class="label label-success">{{ nouvelle_version ? 'NOUVELLE VERSION' }}</span>
                {{ activite.description }}
            </th></tr>
        </thead>
        <tbody>
            <tr>
                <td>Type d'activité</td>
                <td>{{ activite.type }}</td>
            </tr>
            <tr>
                <td>Durée</td>
                <td>
                    {{ activite.duree }}
                </td>
            </tr>
            <tr>
                <td>Note moyenne</td>
                <td>{{ note(note_moyenne.globale) }}</td>
            </tr>
            <tr>
                <td>Tags</td>
                <td>
                    {% if activite.tags %}
                        {{ activite.tags|join(', ') }}
                    {% else %}
                        <span class="muted">Aucun tag</span>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered table-striped table-hover table-collapse">
        <tbody>
            <tr>
                <td>Utilisations</td>
                <td>
                    {{ activite.compteRendus|length }} utilisation(s)
                </td>
            </tr>
            <tr>
                <td>Versions</td>
                <td>
                    {{ activite.versions|length }} version(s)
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered table-striped table-hover table-collapse">
        <tbody>
            <tr>
                <td>Contenu</td>
                <td>{{ note(note_moyenne.contenu) }}</td>
            </tr>
            <tr>
                <td>Interactivité</td>
                <td>{{ note(note_moyenne.interactivite) }}</td>
            </tr>
            <tr>
                <td>Réussite</td>
                <td>{{ note(note_moyenne.atteinteObjectifs) }}</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered table-striped table-hover table-collapse">
        <tbody>
            {# TODO: Insérer, si disponible, la possibilité de sélectionner l'activité pour la prochaine séance. #}
        </tbody>
    </table>
    
    <a href="{{ path('cec_activite_activites_editer', { 'activite' : activite.id }) }}" class="btn btn-block">Éditer l'activité</a>
{% endblock %}


{% block right %}
{{ parent() }}
    {# TODO: Insérer un cadre pour sélectionner l'activité si disponible #}
    <table class="table table-bordered table-striped table-large table-embed">
        {% if activite.document %}
            <thead>
                <tr>
                    <th class="embed-title">
                        {% if activite.document.disponible %}
                            <div class="btn-group pull-right">
                                <a href="{{ activite.document.cheminPDF }}" class="btn btn-primary">Télécharger le document</a>
                                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ activite.document.cheminPDF }}">Télécharger le fichier PDF</a></li>
                                    <li><a href="{{ activite.document.cheminOriginal }}">Télécharger le document original</a></li>
                                </ul>
                            </div>
                        {% else %}
                            <div class="btn-group pull-right">
                                <button class="btn btn-primary" disabled><strong>Télécharger le document</strong></button>
                                <button class="btn btn-primary dropdown-toggle" disabled>
                                    <span class="caret"></span>
                                </button>
                            </div>
                        {% endif %}
                        <h4>Document associé</h4>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td {% if activite.document.disponible %}class="embed-document"{% endif %}>
                        {% if activite.document.disponible %}
                            <object type="application/pdf" data="{{ activite.document.cheminPDF }}?#view=Fit">
                                <param name="src" value="{{ activite.document.cheminPDF }}?#view=Fit" />
                                <param name="type" value="application/pdf" />
                                <param name="zoom" value="75" />
                                <param name="view" value="Fit" />
                                <p class="muted" style="margin: 10px;">
                                    Votre navigateur ne permet pas d'afficher l'aperçu du document associé à cette activité. Pour afficher le document PDF, vous pouvez <a href="{{ activite.document.cheminPDF }}" class="muted">cliquer ici</a>.
                                </p>
                            </object>
                        {% else %}
                            {{ flash('error', 'Le fichier n\'est plus accessible sur le serveur. Merci de télécharger à nouveau le document pour utiliser l\'activité.') }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="embed-infos">
                        <small class="muted pull-right">Créé le {{ activite.document.dateCreation|date('d/m/Y') }} par <a href="{{ path('membre', { 'membre' : activite.document.auteur.id }) }}" class="muted">{{ activite.document.auteur }}</a>.</small>
                    </td>
                </tr>
            </tbody>
        {% else %}
            <thead><tr><th class="muted"><h4>Aucun document associé à l'activité !</h4></th></tr></thead>
        {% endif %}
    </table>
    
    <table class="table table-bordered table-hover table-striped table-large">
        {% if activite.compteRendus|length > 0 %}
            <thead><tr><th><h4>Compte-rendus<span class="count">{{ activite.compteRendus|length }}</span></h4></th></tr></thead>
            <tbody>
                {% for compteRendu in activite.compteRendus %}
                <tr>
                    <td class="compte-rendu">
                        <a href="{{ path('seance', { 'seance' : compteRendu.seance.id }) }}">
                            <h5>Séance au
                                {% for lycee in compteRendu.seance.groupe.lycees %}
                                    {{ lycee.nom }}
                                    {% if not loop.last %}& {% endif %}
                                {% endfor %}
                                ({{ compteRendu.seance.groupe.niveau }})
                                <span class="muted pull-right" style="font-weight: normal;">{{ compteRendu.seance.date|date('d/m/Y') }}</span>
                            </h5>
                            <p>Note moyenne : {{ note(compteRendu.noteGlobale) }}</p>
                            <p class="pull-left" style="margin-right: 60px;">
                                <small>
                                    Contenu : {{ note(compteRendu.noteContenu) }}<br />
                                    Atteinte des objectifs : {{ note(compteRendu.noteAtteinteObjectifs) }}
                                </small>
                            </p>
                            <p>
                                <small>
                                    Interactivité : {{ note(compteRendu.noteInteractivite) }}<br />
                                    {{ duree(compteRendu.dureeAdaptee) }}
                                </small>
                            </p>
                            
                            {% if compteRendu.commentaires is not null %}
                                <p><small>{{ compteRendu.commentaires }}</small></p>
                            {% endif %}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        {% else %}
            <thead><tr><th class="muted"><h4>Aucun compte-rendu n'a été rédigé pour cette activité !</h4></th></tr></thead>
        {% endif %}
    </table>
    
    <table class="table table-bordered table-hover table-striped table-large">
        {% if versions_triees|length > 0 %}
            <thead><tr><th><h4>Historique des versions<span class="count">{{ versions_triees|length }}</span></h4></th></tr></thead>
            <tbody>
                {% for version in versions_triees %}
                <tr>
                    <td>
                        <div class="btn-group pull-right">
                            <a href="{{ version.cheminPDF }}" class="btn btn-mini">Télécharger</a>
                            <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ version.cheminPDF }}">Télécharger le fichier PDF</a></li>
                                <li><a href="{{ version.cheminOriginal }}">Télécharger le document original</a></li>
                            </ul>
                        </div>
                        
                        <strong>Version du {{ version.dateCreation|date('d/m/Y') }}</strong><br />
                        {% if version.description %}
                            {{ version.description }}
                        {% else %}
                            <span class="muted">Aucun historique de version.</span> 
                        {% endif %}
                        <span class="muted">— <a href="{{ path('membre', { 'membre' : version.auteur.id }) }}" class="muted">{{ version.auteur }}</a></span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        {% else %}
            <thead><tr><th class="muted"><h4>Aucune version de l'activité disponible !</h4></th></tr></thead>
        {% endif %}
    </table>
    
{% endblock %}
