{% extends 'CECMainBundle::2-columns.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@CECMembreBundle/Resources/public/less/profil_afficher.less'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block left %}
    <p>Coucou</p>
    <a href="#" class="btn btn-primary">Modifier</a>
    <h5>Promotion</h5>
    <p>##2014</p>
    <h5>Email</h5>
    <p><a href="mailto:{{ membre.email }}">{{ membre.email }}</a></p>
    <h5>Numéro de téléphone</h5>
    <p>{{ membre.telephone }}</p>
{% endblock %}

{% block right %}
    <h2>{{ membre.prenom }} {{ membre.nom }}</h2>
    <h4>Promotion 2012</h4>
{% endblock %}

